<%= content_tag(:div, id: dom_id(property)) do %>
  <h3><%= link_to property.title, property %></h3>
  <p>
    <%= link_to 'Edit', edit_property_path(property), class: 'btn btn-warning' %>
    <%= link_to "Delete", property_path(property), data: { "turbo-method": :delete }, class: 'btn btn-outline-danger' %>
    <%= link_to 'Add room', new_property_room_path(property), class: 'btn btn-primary btn-sm' %>
  </p>
  <br>
  <% if property.rooms.any? %>
    <h4>Rooms:</h4>
    <%= render partial: 'partners/dashboard/partials/room', collection: property.rooms, as: :room %>
  <% end %> 
<% end %>



