<% provide(:title, "ILK: О проекте") %>

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to 'Главная', root_path %></li>
      <li class="breadcrumb-item active">О проекте</li>  
    </ol>
  </nav>
</div>

<div class="container my-4">
	<div class="resources-title mb-4 text-center">		
		<h1 class="h2">О проекте "Люблю Крым"</h1>		
	</div>

	<div class="card card-body shadow p-4">
		<div class="d-flex mt-3 mb-3">
			<!-- Icon -->
			<div class="pt-2">
				<div class="icon-lg text-white bg-primary rounded-circle flex-shrink-0"><i class="bi bi-heart"></i></div>
			</div>
			<!-- Content -->
			<div class="ms-3">
				<h4 class="mb-1">Ilovekrim.ru - это информационно-туристический портал для поиска аренды жилья, активного отдыха, развлечений и услуг в Крыму.</h4>				
			</div>	
		</div>

    <p>&emsp;Здесь предоставляется разнообразная информация интересная и необходимая отдыхающим - <strong>аренда жилья, реклама активного отдыха</strong> - всевозможные морские, воздушные, конные прогулки и другие экскурсии.
    А также - <strong>услуги и сервисы</strong> которые можно получить в указанном городе (например доставка еды или вызов такси).
    <strong>Интересные места и достопримечательности</strong> в городе, и места где можно поесть - кафе, рестораны, бары и столовые. В общем - куда сходить и чем заняться чтобы не было скучно на отдыхе.</p>

		<p>&emsp;Гостям всегда интересно чем можно заняться на отдыхе, и как разнообразить свой досуг. Всё это можно будет найти на сайте "Люблю Крым. Регистрируйтесь на нашем сайте, и размещайте свои объекты или объявления об активном отдыхе и услугах.</p>
		<p>&emsp;Мы уверены, что платформа "Люблю Крым" будет идеальным партнёром <strong>для расширения вашей аудитории и привлечения большего числа клиентов.</strong> Присоединяйтесь к нам, и вместе мы создадим незабываемые впечатления для всех, кто хочет открыть для себя Крым!</p>

		<div class="d-flex mt-5 mb-3">
			<!-- Icon -->
			<div class="pt-2">
				<div class="icon-lg text-white bg-primary rounded-circle flex-shrink-0"><i class="bi bi-camera"></i></div>
			</div>
			<!-- Content -->
			<div class="ms-3">
				<h4 class="mb-1">Также предлагаем услуги по фотографированию гостиниц, гостевых домов, квартир и другой недвижимости.</h4>				
			</div>	
		</div>

		<p>&emsp;Мы используем профессиональное оборудование и техники, чтобы создавать высококачественные фотографии, которые <strong>подчеркнут красоту и уют вашего помещения</strong>, и помогут вам <strong>привлечь больше новых гостей и клиентов</strong> и повысить уровень доверия уже имеющихся.</p>
		<p>&emsp;Свяжитесь с нами, чтобы обсудить, как мы можем помочь вам сделать ваш бизнес более привлекательным и успешным! </p>
			
		<div class="row g-4 mt-md-3">
			<div class="col-md-8">
				<div class="fotoramain mt-2 property-images" data-controller="fotorama" data-object="main">		    
					<%= link_to image_tag("promo/small/promo (2).jpg"), image_url("promo/medium/promo (2).jpg") %>
					<%= link_to image_tag("promo/small/promo (3).jpg"), image_url("promo/medium/promo (3).jpg") %>
					<%= link_to image_tag("promo/small/promo (4).jpg"), image_url("promo/medium/promo (4).jpg") %>
					<%= link_to image_tag("promo/small/promo (5).jpg"), image_url("promo/medium/promo (5).jpg") %>
					<%= link_to image_tag("promo/small/promo (6).jpg"), image_url("promo/medium/promo (6).jpg") %>
					<%= link_to image_tag("promo/small/promo (7).jpg"), image_url("promo/medium/promo (7).jpg") %>
					<%= link_to image_tag("promo/small/promo (8).jpg"), image_url("promo/medium/promo (8).jpg") %>
					<%= link_to image_tag("promo/small/promo (9).jpg"), image_url("promo/medium/promo (9).jpg") %>
					<%= link_to image_tag("promo/small/promo (10).jpg"), image_url("promo/medium/promo (10).jpg") %>
					<%= link_to image_tag("promo/small/promo (11).jpg"), image_url("promo/medium/promo (11).jpg") %>

					<%= link_to image_tag("promo/small/promo (12).jpg"), image_url("promo/medium/promo (12).jpg") %>
					<%= link_to image_tag("promo/small/promo (13).jpg"), image_url("promo/medium/promo (13).jpg") %>
					<%= link_to image_tag("promo/small/promo (14).jpg"), image_url("promo/medium/promo (14).jpg") %>
					<%= link_to image_tag("promo/small/promo (15).jpg"), image_url("promo/medium/promo (15).jpg") %>
					<%= link_to image_tag("promo/small/promo (16).jpg"), image_url("promo/medium/promo (16).jpg") %>
					<%= link_to image_tag("promo/small/promo (17).jpg"), image_url("promo/medium/promo (17).jpg") %>
					<%= link_to image_tag("promo/small/promo (18).jpg"), image_url("promo/medium/promo (18).jpg") %>
					<%= link_to image_tag("promo/small/promo (19).jpg"), image_url("promo/medium/promo (19).jpg") %>
					<%= link_to image_tag("promo/small/promo (20).jpg"), image_url("promo/medium/promo (20).jpg") %>
					<%= link_to image_tag("promo/small/promo (21).jpg"), image_url("promo/medium/promo (21).jpg") %>

					<%= link_to image_tag("promo/small/promo (22).jpg"), image_url("promo/medium/promo (22).jpg") %>
					<%= link_to image_tag("promo/small/promo (23).jpg"), image_url("promo/medium/promo (23).jpg") %>
					<%= link_to image_tag("promo/small/promo (24).jpg"), image_url("promo/medium/promo (24).jpg") %>
					<%= link_to image_tag("promo/small/promo (25).jpg"), image_url("promo/medium/promo (25).jpg") %>
					<%= link_to image_tag("promo/small/promo (26).jpg"), image_url("promo/medium/promo (26).jpg") %>
					<%= link_to image_tag("promo/small/promo (27).jpg"), image_url("promo/medium/promo (27).jpg") %>
					<%= link_to image_tag("promo/small/promo (28).jpg"), image_url("promo/medium/promo (28).jpg") %>
					<%= link_to image_tag("promo/small/promo (29).jpg"), image_url("promo/medium/promo (29).jpg") %>
					<%= link_to image_tag("promo/small/promo (30).jpg"), image_url("promo/medium/promo (30).jpg") %>
					<%= link_to image_tag("promo/small/promo (31).jpg"), image_url("promo/medium/promo (31).jpg") %>			
				</div>
			</div>

			<div class="col-md-4 ps-md-4">
				<div class="resources-title mb-3 text-center pt-md-3">		
					<h3 class="h5">Стоимость фотосъёмки</h1>		
				</div>

				<ul class="list-group list-group-borderless">
					<li class="list-group-item py-3">
						<h6 class="mb-0 fw-normal">
							<i class="bi bi-check-lg fa-fw text-primary me-2"></i>1к номер - 700р
						</h6>
					</li>

					<li class="list-group-item py-3">
						<h6 class="mb-0 fw-normal">
							<i class="bi bi-check-lg fa-fw text-primary me-2"></i>2к номер - 1000р
						</h6>
					</li>

					<li class="list-group-item py-3">
						<h6 class="mb-0 fw-normal">
							<i class="bi bi-check-lg fa-fw text-primary me-2"></i>3к номер - 1300р
						</h6>
					</li>

					<li class="list-group-item py-3">
						<h6 class="mb-0 fw-normal">
							<i class="bi bi-check-lg fa-fw text-primary me-2"></i>Квартиры - от 1000р (1к)
						</h6>
					</li>

					<li class="list-group-item py-3">
						<h6 class="mb-0 fw-normal">
							<i class="bi bi-check-lg fa-fw text-primary me-2"></i>Другие объекты - по договорённости
						</h6>
					</li>
				</ul>			
			</div>
		</div>

		<div class="resources-title mt-5 ">		
			<h2 class="h5">По всем вопросам и предложениям вы можете связаться с нами:</h3>		
		</div>

		<div class="div">
			&emsp;- Написать нам:&emsp;<a href="mailto:wellcome@ilovekrim.ru">wellcome@ilovekrim.ru</a><br>
			&emsp;- Позвонить:&emsp;+7(978)265-19-47 <span class="text-secondary">(каждый день с 9-00 до 18-00)</span>	
		</div>
  </div>
</div>




