<% provide(:title, "Люблю Крым - жильё и активный отдых в Крыму") %>

<%= render 'static_pages/templates/main_banner' %>

<section class="py-0">
	<div class="container">
		<div class="row mb-4">
				<h2 class="h3 ps-md-5"><i class="bi bi-check2-circle text-orange me-3"></i>Куда поехать</h2>
		</div>

    <div class="row g-4 g-md-5 justify-content-center">
      <%= render @towns %>
		</div>	
	</div>
</section>

<section>
  <div class="container">
    <div class="row mb-4">
			<h2 class="h3 ps-md-5"><i class="bi bi-check2-circle text-primary me-3"></i>Где остановиться - популярные предложения</h2>
		</div>

    <div class="row gx-4">
      <%= render @properties %>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row mb-4">
			<h2 class="h3 ps-md-5"><i class="bi bi-star text-orange me-3"></i>Активный отдых</h2>
		</div>

    <div class="row g-4">
      <%= render @activities %>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row mb-4">
			<h2 class="h3 ps-md-5"><i class="bi bi-box text-info me-3"></i>Услуги и сервисы</h2>
		</div>

    <div class="row g-4">
      <%= render @services %>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row mb-4">
			<h2 class="h3 ps-md-5"><i class="bi bi-pin-map text-warning me-3"></i>Места и достопримечательности</h2>
		</div>

    <div class="row g-4">
      <%= render @places %>
    </div>
  </div>
</section>
