<% provide(:title, "Размещайте объекты и объявления на сайте Люблю Крым") %>

<section class="pt-4 pt-md-5">
	<div class="container">
		<div class="row g-4 align-items-center">				
			<div class="col-lg-7">
				<!-- Title -->
				<h1 class="mb-4 h2">Регистрируйтесь и добавляйте <span class="text-primary">свои объекты</span></h1>
				<!-- Info
				<p class="mb-4">Speedily say has suitable disposal add boy. On forth doubt miles of child. Exercise joy man children rejoiced.</p>
				 -->

        <%= link_to new_partner_registration_path, class: "btn btn-primary-soft mb-4" do %>
          Регистрация <i class="bi bi-arrow-right ms-2"></i>
        <% end %>

				<!-- List -->
				<h6 class="fw-normal mb-1">Разные типы объявлений и объектов</h6>
				<ul class="list-group list-group-borderless mb-0 fw-normal ps-md-3">
					<li class="list-group-item d-flex mb-0">
						<i class="bi bi-check-circle text-success me-2 "></i>Объекты  сдачи жилья
					</li>
					<li class="list-group-item d-flex mb-0">
						<i class="bi bi-check-circle text-success me-2 "></i>Активный отдых и экскурсии
					</li>
					<li class="list-group-item d-flex mb-0">
						<i class="bi bi-check-circle text-success me-2 "></i>Сервисы и услуги
					</li>
          <li class="list-group-item d-flex mb-0">
						<i class="bi bi-check-circle text-success me-2 "></i>Места где поесть
					</li>
          <li class="list-group-item d-flex mb-0">
						<i class="bi bi-check-circle text-success me-2 "></i>Локации и достопримечательности
					</li>
				</ul>
			</div>
			<!-- Image -->
			<div class="col-lg-5 text-center">
        <%= image_tag("theme/element/join-us.svg") %>
			</div>
		</div>
	</div>
</section>

<section class="pt-0 pt-md-1">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="bg-light p-4 p-sm-5 rounded-3">
					<!-- Title -->
					<h2 class="fs-3 text-center mb-4 mb-sm-5">Преимущества работы с нами</h2>

					<div class="row g-4">
						<div class="col-md-6">
							<div class="card card-body p-4">
                <div><%= image_tag("theme/element/20.svg", class: "h-70px mb-3") %></div>
								<h5>Бесплатное размещение объявлений</h5>
								<p class="mb-0">На данный момент все объявления размещаются на бесплатном тарифе. В дальнейшем, когда появятся другие, бесплатный тариф останется, и вы сами решите какой из них выбрать, или оставить бесплатный</p>
							</div>
						</div>

						<div class="col-md-6">
							<div class="card card-body p-4">
                <div><%= image_tag("theme/element/18.svg", class: "h-70px mb-3") %></div>
								<h5>Расширение вашей аудитории</h5>
								<p class="mb-0">Разместив у нас объявление,  вы сможете привлечь новых клиентов, которые раньше могли не знать о вашем объекте.</p>
							</div>
						</div>

						<div class="col-md-6">
							<div class="card card-body p-4">
                <div><%= image_tag("theme/element/22.svg", class: "h-70px mb-3") %></div>
								<h5>Управление объявлением из личного кабинета</h5>
								<p class="mb-0">Вы сами загружаете фотографии, изменяете цены или описание объявлений</p>
							</div>
						</div>

						<div class="col-md-6">
							<div class="card card-body p-4">
                <div><%= image_tag("theme/element/17.svg", class: "h-70px mb-3") %></div>
								<h5>Удобство использования</h5>
								<p class="mb-0">Наша платформа имеет простой и интуитивно понятный интерфейс, постоянно развивается и получает новые возможности</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row g-4">
			<div class="col-12">
				<!-- Action box START -->
				<div class="card card-body shadow p-4">
					<div class="row g-4 justify-content-between align-items-center">
						<!-- Image -->
						<div class="col-sm-3 col-lg-2">
              <%= image_tag("theme/element/congratulations.svg") %>
						</div>

						<!-- Title and content -->
						<div class="col-sm-9 col-lg-6 col-xl-7">
							<h4>Присоединяйтесь к нам!</h4>
							<p class="mb-0">И вместе мы создадим незабываемые впечатления для всех, кто хочет открыть для себя Крым!</p>
						</div>

						<!-- Button -->
						<div class="col-lg-3 col-xxl-2 d-grid">
							<%= link_to new_partner_registration_path, class: "btn btn-primary" do %>
          			Регистрация <i class="bi bi-arrow-right ms-2"></i>
        			<% end %>
						</div>
					</div>
				</div>
				<!-- Action box END -->
			</div>
		</div>
	</div>
</section>
