<% provide(:title, "Размещайте объявления") %>

<section class="pt-4 pt-md-5">
	<div class="container">
		<div class="row g-4 align-items-center">				
			<div class="col-lg-7">
				<!-- Title -->
				<h1 class="mb-4 h2">Регистрируйтесь и добавляйте <span class="text-primary">свои объекты</span></h1>
				<!-- Info -->
				<p class="mb-4">Speedily say has suitable disposal add boy. On forth doubt miles of child. Exercise joy man children rejoiced.</p>
				<!-- Button -->

        <%= link_to new_partner_registration_path, class: "btn btn-primary-soft mb-4" do %>
          Регистрация <i class="bi bi-arrow-right ms-2"></i>
        <% end %>

				<!-- List -->
				<h6 class="fw-normal mb-1">Разные типы объявлений и объектов</h6>
				<ul class="list-group list-group-borderless mb-0 small">
					<li class="list-group-item d-flex mb-0">
						<i class="bi bi-check-circle text-success me-2 "></i>Объекты  сдачи жилья
					</li>
					<li class="list-group-item d-flex mb-0">
						<i class="bi bi-check-circle text-success me-2 "></i>Активный отдых и экскурсии
					</li>
					<li class="list-group-item d-flex mb-0">
						<i class="bi bi-check-circle text-success me-2 "></i>Сервисы и услуги
					</li>
          <li class="list-group-item d-flex mb-0">
						<i class="bi bi-check-circle text-success me-2 "></i>Места где поесть
					</li>
          <li class="list-group-item d-flex mb-0">
						<i class="bi bi-check-circle text-success me-2 "></i>Локации и достопримечательности
					</li>
				</ul>
			</div>
			<!-- Image -->
			<div class="col-lg-5 text-center">
        <%= image_tag("theme/element/join-us.svg") %>
			</div>
		</div>
	</div>
</section>

<section class="pt-0 pt-md-1">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="bg-light p-4 p-sm-5 rounded-3">
					<!-- Title -->
					<h2 class="fs-3 text-center mb-4 mb-sm-5">Преимущества работы с нами</h2>

					<div class="row g-4">
						<!-- Card START -->
						<div class="col-md-6">
							<div class="card card-body p-4">
                <div><%= image_tag("theme/element/18.svg", class: "h-70px mb-3") %></div>
								<h5>List any type of properties</h5>
								<p class="mb-0">Speedily say has suitable disposal add boy. On forth doubt miles of child. Exercise joy man children rejoiced.</p>
							</div>
						</div>
						<!-- Card END -->

						<!-- Card START -->
						<div class="col-md-6">
							<div class="card card-body p-4">
                <div><%= image_tag("theme/element/21.svg", class: "h-70px mb-3") %></div>
								<h5>Import detail easily</h5>
								<p class="mb-0">Two before narrow not relied on how except moment myself Dejection assurance Mrs led certainly open Betrayed.</p>
							</div>
						</div>
						<!-- Card END -->

						<!-- Card START -->
						<div class="col-md-6">
							<div class="card card-body p-4">
                <div><%= image_tag("theme/element/19.svg", class: "h-70px mb-3") %></div>
								<h5>Step by step guide</h5>
								<p class="mb-0">Rooms oh fully taken by worse do. Points afraid but may end law.Points afraid but may end law.</p>
							</div>
						</div>
						<!-- Card END -->

						<!-- Card START -->
						<div class="col-md-6">
							<div class="card card-body p-4">
                <div><%= image_tag("theme/element/20.svg", class: "h-70px mb-3") %></div>
								<h5>Marvelous discounts</h5>
								<p class="mb-0">Prospective should start broadly and then narrow their list down to colleges that best fit experts</p>
							</div>
						</div>
						<!-- Card END -->

					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row g-4">
			<div class="col-12">
				<!-- Action box START -->
				<div class="card card-body shadow p-4">
					<div class="row g-4 justify-content-between align-items-center">
						<!-- Image -->
						<div class="col-sm-3 col-lg-2">
              <%= image_tag("theme/element/22.svg") %>
						</div>

						<!-- Title and content -->
						<div class="col-sm-9 col-lg-6 col-xl-7">
							<h4>Why did you choose us</h4>
							<p class="mb-0">Water timed folly right aware if oh truth. Large above be to means. Dashwood does provide stronger is.</p>
						</div>

						<!-- Button -->
						<div class="col-lg-3 col-xxl-2 d-grid">
							<a href="#" class="btn btn-primary mb-0">Become a host</a>
						</div>
					</div>
				</div>
				<!-- Action box END -->
			</div>
		</div>
	</div>
</section>