<div id="search-form">
  <%= form_with url: search_path, method: :post do |f| %>
    <%= f.label :town %>
    <%= f.select :town_id, options_for_select(Town.all.map { |town| [town.name, town.id] }.insert(0, nil)) %>

    <%= f.label :category %>
    <%= f.select :category_id, options_for_select(Category.all.map { |cat| [cat.title, cat.id] }.insert(0, nil)) %>

    <%= f.label :check_in %>
    <%= f.date_field :check_in %>

    <%= f.label :check_out %>
    <%= f.date_field :check_out %>

    <%= f.label :guests %>
    <%= f.number_field :guests %>

    <%= f.submit "Search" %>
  <% end %>
</div>
