<div id="search-form" class="border rounded p-3 my-3 bg-white shadow">
  <%= form_with url: search_path, method: :post, id: 'new_order', class: "row g-3" do |f| %>

    <div class="col-auto">
      <%= f.label :town, class: "form-label" %>
      <%= f.collection_select :town_id, Town.all, :id, :name, { include_blank: true }, class: "form-select form-select-sm" %>    
    </div>

    <div class="col-auto">
      <%= f.label :category, class: "form-label" %>
      <%= f.collection_select :category_id, Category.all, :id, :title, { include_blank: true }, class: "form-select form-select-sm" %> 
    </div>

    <div class="col-auto">
      <%= f.label :check_in, class: "form-label" %>
      <%= f.date_field :check_in, class: "form-control form-control-sm" %>
    </div>
    <div class="col-auto">
      <%= f.label :check_out, class: "form-label" %>
      <%= f.date_field :check_out, class: "form-control form-control-sm" %>
    </div>

    <div class="col-auto">
      <%= f.label :guests, class: "form-label" %>
      <%= f.number_field :guests, class: "form-control form-control-sm" %>
    </div>

    <div class="col-auto pt-4">
      <div class="mb-1"></div>
      <%= f.submit "Search", class: "btn btn-primary btn-sm" %>

      <button class="btn btn-sm btn-primary-soft">
        <i class="bi bi-arrow-counterclockwise me-1"></i>
        Reset dates
      </button>
    </div>
  <% end %>
</div>


