<% provide(:title, "Поиск") %>

<section class="parallax-window" data-controller="parallax" data-parallax="scroll" data-image-src="<%= @town.avatar.url %>">
  <div class="parallax-content-2">
    <div class="container">
      <div class="row">
        <div class="col-md-8">          
					<% unless @properties_category %>
            <h1>Жильё в <%= @town.parent_name %></h1>           
          <% else %>      
            <h1><%= @properties_category.title %> в <%= @town.parent_name %></h1>
          <% end %>        
        </div>
        <div class="col-md-4">
          <div id="price_single_main" class="hotel">
            <span><sup></sup></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pt-3">
  <div class="container">
    <div class="row mb-lg-4 mb-5">
      <div class="col-xl-12">  
        <!-- Booking from START -->
        <%= render 'search/form' %>
      </div>
    </div>

    <div id="search_result">
      <div class="row gx-4">
        <%= render partial: 'properties/property', collection: @properties, as: :property %>
      </div>
    </div>
  </div>
</section>

