<%= f.fields_for :geolocation do |l| %>
  <div class="row my-4">
    <h4 class='h4 text-center'>Mark on map</h4>
    <div class="col-md-8">
      <div id="map" style="height: 300px" class="border"></div>
    </div>
    <div class="col-md-4">
      <div class="coordinates" style="width: 200px">
        <div class="form-group">              
          <%= l.label :latitude, class: 'form-label' %> 
          <%= l.text_field :latitude, class: 'form-control form-control-sm', readonly: true %>
        </div>
        <div class="form-group">              
          <%= l.label :longitude, class: 'form-label' %> 
          <%= l.text_field :longitude, class: 'form-control form-control-sm', readonly: true %>
        </div>
        <br>        
        <button type="button" id="clear-btn" class="d-block btn btn-outline-secondary btn-sm">Reset coordinates</button>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
    ymaps.ready(init);
    objectFieldId = "<%= f.object.class.name.downcase %>_geolocation_attributes_"

    function init(){
      const coords = [<%= f.object.geolocation.latitude %>, <%= f.object.geolocation.longitude %>]
      const myMap = new ymaps.Map("map", {
          center: coords,
          zoom: 16,
          controls: ['zoomControl'],
          behaviors: ['drag','dblClickZoom', 'multiTouch']
      });

      const myPlacemark = new ymaps.Placemark(coords, {}, {
        preset: "islands#blueHomeIcon",        
        hideIconOnBalloonOpen: false,
        draggable: true
      });
      myMap.geoObjects.add(myPlacemark);

      myPlacemark.events.add('dragend', function(e) {
        const newCoords = myPlacemark.geometry.getCoordinates()
        document.getElementById(objectFieldId + 'latitude').value = newCoords[0].toPrecision(7)
        document.getElementById(objectFieldId + 'longitude').value = newCoords[1].toPrecision(7)

      })

      document.getElementById('clear-btn').onclick = function(e) {
        //myMap.geoObjects.remove(myPlacemark)
        document.getElementById(objectFieldId + 'latitude').value = ''
        document.getElementById(objectFieldId + 'longitude').value = ''
      }
    }

    
</script>