<div class="card shadow">  
  <div class="card-header border-bottom">
    <h5 class="mb-0">Расположение на карте*</h5>    
  </div>

  <div class="card-body">
    <div class="row g-3">
      <div class="col-12">
        <%= f.fields_for :geolocation do |l| %>
          <div class="row">
            <div class="col-md-8">
              <div id="map"
                style="height: 300px"
                data-controller="maps"
                data-action="<%= controller.action_name %>"
                data-latitude="<%= f.object.geolocation.latitude %>"
                data-longitude="<%= f.object.geolocation.longitude %>"
                data-model-name="<%= f.object.class.name.downcase %>">
              </div>
            </div>
            <div class="col-md-4">
              <div class="small text-secondary mt-3">
                <span class="fw-semibold">Поставьте отметку на карте</span> <br>
                Для указания более точного расположения можно приблизить карту и перемещать маркер
              </div>
              
              <div class="coordinates mt-3" style="width: 200px">  
                <div class="form-group">              
                  <%= l.label :latitude, class: 'form-label' %> 
                  <%= l.text_field :latitude, class: 'form-control form-control-sm', readonly: true, required: true %>
                </div>
                <div class="form-group">              
                  <%= l.label :longitude, class: 'form-label' %> 
                  <%= l.text_field :longitude, class: 'form-control form-control-sm', readonly: true, required: true %>
                </div>
                <br>
              </div>
            </div>
          </div>  
        <% end %>
      </div>
    </div>
  </div>
</div>



