<%= content_tag(:div, id: dom_id(room)) do %>
  <h5><%= room.title %></h5>
  <%= link_to 'Edit', edit_room_path(room), class: 'btn btn-warning btn-sm' %>
  <%= link_to "Delete", room_path(room), data: { "turbo-method": :delete }, class: 'btn btn-outline-danger btn-sm' %>
  <br>

  <% if room.prices.any? %>
    <h6>Prices</h6>

    <% room.prices.each do |price| %>
      <%= content_tag(:div, id: "price_#{price.id}") do %>
      <%= "from: #{price.start_date.strftime('%d.%m')} to: #{price.end_date.strftime('%d.%m')} - #{price.day_cost}" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
