<% provide(:title, "Кабинет") %>

<section class="pt-3">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-xl-3">
        <%= render 'partners/dashboard/templates/nav_section' %>
			</div>
		
			<div class="col-lg-8 col-xl-9 px-0 px-md-2">
				<!-- Offcanvas menu button -->
				<div class="mb-0 d-lg-none text-end pe-3">
					<button class="btn btn-primary mb-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
						<i class="bi bi-arrow-bar-left"></i> Меню
					</button>
				</div>

				<div class="card border shadow">
					<div class="card-header border-bottom">
						<h4 class="card-header-title"><i class="bi bi-person-workspace me-1 text-secondary"></i> Кабинет</h4>
					</div>
					<div class="card-body">
						Создание и управление вашими объявлениями и профилем
					</div>					
				</div> <br>

				<% if @properties.any? %>
					<h3 class="mb-3"><i class="bi bi-check2-circle text-orange me-3"></i>Объявления</h3>
					<%= render partial: 'partners/dashboard/templates/property', collection: @properties, as: :property %>
				<% end %>	

				<% if @activities.any? %>
					<h3 class="mb-3"><i class="bi bi-check2-circle text-orange me-3"></i>Активный отдых</h3>
					<%= render partial: 'partners/dashboard/templates/activity', collection: @activities, as: :activity %>
				<% end %>

				<% if @services.any? %>
					<h3 class="mb-3"><i class="bi bi-check2-circle text-orange me-3"></i>Сервисы и услуги</h3>
					<%= render partial: 'partners/dashboard/templates/service', collection: @services, as: :service %>
				<% end %>

				<% if @places.any? %>
					<h3 class="mb-3"><i class="bi bi-check2-circle text-orange me-3"></i>Места и достопримечательности</h3>
					<%= render partial: 'partners/dashboard/templates/place', collection: @places, as: :place %>
				<% end %>
			</div>
		</div>
	</div>
</section>

<section></section>

<!-- Map modal START -->
<div class="modal fade" id="mapmodal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<!-- Title -->
			<div class="modal-header">
				<h5 class="modal-title">Расположение на карте</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<!-- Map -->
			<div class="modal-body p-0">				
				<div id="map"
					style="height: 350px">
				</div>
			</div>
			<!-- Button -->
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>
<!-- Map modal END -->












