<% provide(:title, "Информация") %>


<section class="pt-3">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-xl-3">
        <%= render 'partners/dashboard/templates/nav_section' %>
			</div>
		
			<div class="col-lg-8 col-xl-9 px-0 px-md-2">
				<!-- Offcanvas menu button -->
				<div class="mb-0 d-lg-none text-end pe-3">
					<button class="btn btn-primary mb-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
						<i class="bi bi-three-dots-vertical"></i> Меню
					</button>
				</div>

				<!-- CARD START -->
				<div class="card border shadow">
					<!-- Card header -->
					<div class="card-header border-bottom">
						<h4 class="card-header-title"><i class="bi bi-info-circle me-2 text-secondary"></i>Информация</h4>
					</div>
					<!-- Card body START -->
					<div class="card-body px-2 px-md-3 py-2 py-md-3">
            <div class="row">
              <div class="col-12 mx-auto">
                <div class="accordion accordion-icon accordion-bg-light" id="accordionExample2">
                  <!-- Item -->
                  <div class="accordion-item mb-3">
                    <h6 class="accordion-header font-base" id="heading-1">
                      <button class="accordion-button fw-bold rounded d-inline-block collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
                        Добавление объектов жилья
                      </button>
                    </h6>
                    <!-- Body -->
                    <div id="collapse-1" class="accordion-collapse collapse" aria-labelledby="heading-1" data-bs-parent="#accordionExample2" style="">
                      <div class="accordion-body mt-3">
                      	<dl>
                          <dt>Номера и стоимость проживания в них</dt>
                          <dd>Добавляются отдельно в личном кабинете в карточке объекта во вкладке "Номера" - кнопка "Добавить номер"</dd>
                          <dt>Если объект сдаётся целиком (например квартира, дом под ключ или отдельный эллинг)</dt>
                          <dd>Нужно добавить один номер с ценами для бронирования этого объекта - для того чтобы он учавствовал в поиске</dd>				
                        </dl>
                      </div>
                    </div>
                  </div>

                  <!-- Item -->
                  <div class="accordion-item mb-3">
                    <h6 class="accordion-header font-base" id="heading-6">
                      <button class="accordion-button fw-bold collapsed rounded d-block pe-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-6" aria-expanded="false" aria-controls="collapse-6">
                        Стоимость проживание в отдельные периоды
                      </button>
                    </h6>
                    <!-- Body -->
                    <div id="collapse-6" class="accordion-collapse collapse" aria-labelledby="heading-6" data-bs-parent="#accordionExample2">
                      <div class="accordion-body mt-3">
                        <dl>
                          <dt>Заполнение стоимости проживания за отдельные периоды</dt>
                          <dd>При добавлении номеров задаются ценовые диапазоны - начальная дата периода, конечная дата периода и стоимость проживания за сутки в этот период.
                              Потом добавляется следующий период началом которого должен быть следующий день от конца предыдущего. То есть если один период заканчивается 15 июня, то следующий должен начинаться с 16 июня.
                          </dd>
                          <dt>Дублирование описания и ценовых периодов номеров</dt>
                          <dd>Если номера однотипные и описание у них похоже - можно дублировать описание. Для этого в форме добавления номера выберите номер с которого хотите продублировать описание, и нажмите "Скопировать описание"</dd>				
                          <dd>Также скопируются и даты ценовых периодов, чтобы не заполнять их снова, останется внести только цены.</dd>
                        </dl>
                        
                      </div>
                    </div>
                  </div>

                  <!-- Item -->
                  <div class="accordion-item mb-3">
                    <h6 class="accordion-header font-base" id="heading-7">
                      <button class="accordion-button fw-bold collapsed rounded d-block pe-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-7" aria-expanded="false" aria-controls="collapse-7">
                        Рассчёт стоимости и отправка заявок
                      </button>
                    </h6>
                    <!-- Body -->
                    <div id="collapse-7" class="accordion-collapse collapse" aria-labelledby="heading-7" data-bs-parent="#accordionExample2">
                      <div class="accordion-body mt-3">
                        <dl>
                          <dt>Даты заезда и выезда</dt>
                          <dd>Когда посетитель отмечает даты заезда и выезда приложение сканирует номера и если даты его поездки покрываются ценовыми дипазонами, то рассчитывается стоимость бронирования каждого номера на указанный период</dd>
                          <dd>Ориентировочная стоимость проживания за указанный период будет указываться в каждом номере вместе с общим количеством суток,
                            а в разделе заголовка будет указываться минимальная стоимость проживания из возможных. Например: от 34800₽ / суток: 23</dd>	
                          <dd>Поэтому важно указывать правильные даты и стоимость суток</dd>
                          <dt>Отправка заявки</dt>
                          <dd>Если гость выбрал номер - он может отправить заявку. В появившейся форме он заполняет дату заезда/выезда, количество гостей, контактные данные, и при необходимости комментарий и отправляет заявку.
                            Вам на почту приходит уведомление о получении новой заявки со всеми данными. А в личном кабинете в разделе "Заявки" появляется новая заявка со всей информацией по ней
                          </dd>
                          <dt>Отправка сообщения</dt>
                          <dd>Если гость хочет что-то узнать - он может написать сообщение. Тогда ему нужно будет заполнить только контактные данные и текст сообщения.
                            Вам также на почту придёт уведомление о получении нового сообщения (но без дат, количества гостей и выбранного номера). А в личном кабинете в разделе "Заявки" появляется новая заявка с пометкой "Сообщение".
                            Если вы захотите ответить на это сообщение - то можете написать на почту которую гость указал в контактах, или позвонить на указанный там же номер.
                          </dd>	
                        </dl>
                      </div>
                    </div>
                  </div>

                  <!-- Item -->
                  <div class="accordion-item mb-3">
                    <h6 class="accordion-header font-base" id="heading-2">
                      <button class="accordion-button fw-bold rounded d-inline-block d-block pe-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                        Добавление активного отдыха
                      </button>
                    </h6>
                    <!-- Body -->
                    <div id="collapse-2" class="accordion-collapse collapse" aria-labelledby="heading-2" data-bs-parent="#accordionExample2" style="">
                      <div class="accordion-body mt-3">
                        Если вы предоставляете услуги по активному отдыху - воздушные, морские, конные прогулки, экскурсии, прогулки на квадроциклах и джипах -
                        размещайте объявление о ваших услугах в разделе "Добавить объявление" - кнопка "+ Добавить активный отдых". Или здесь:<br>
                        <%= link_to '+ Добавить активный отдых', new_activity_path, class: 'btn btn-sm btn-orange mt-2' %>
                      </div>
                    </div>
                  </div>

                  <!-- Item -->
                  <div class="accordion-item mb-3">
                    <h6 class="accordion-header font-base" id="heading-3">
                      <button class="accordion-button fw-bold rounded d-block pe-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                        Добавление услуг и сервисов
                      </button>
                    </h6>
                    <!-- Body -->
                    <div id="collapse-3" class="accordion-collapse collapse" aria-labelledby="heading-3" data-bs-parent="#accordionExample2" style="">
                      <div class="accordion-body mt-3">
                        Если вы предоставляете услуги и сервисы - такси, доставка еды, прокат авто и велопрокат, маникюр, массаж, ремонт и многое другое - 
                        размещайте объявление о ваших услугах в разделе "Добавить объявление" - кнопка "+ Добавить услугу/сервис". Или здесь:<br>
                        <%= link_to '+ Добавить услугу/сервис', new_service_path, class: 'btn btn-sm btn-info mt-2' %>
                      </div>
                    </div>
                  </div>

                  <!-- Item -->
                  <div class="accordion-item mb-3">
                    <h6 class="accordion-header font-base" id="heading-4">
                      <button class="accordion-button fw-bold collapsed rounded d-block pe-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                        Добавление мест где можно поесть
                      </button>
                    </h6>
                    <!-- Body -->
                    <div id="collapse-4" class="accordion-collapse collapse" aria-labelledby="heading-4" data-bs-parent="#accordionExample2">
                      <div class="accordion-body mt-3">
                        Вы можете разместить информацию о своём кафе, ресторане, баре, столовой или другом месте где можно поесть. в разделе "Добавить объявление" - кнопка "+ Где поесть". Или здесь:<br>
                        <%= link_to '+ Где поесть', new_food_place_path, class: 'btn btn-sm btn-success mt-2' %>
                      </div>
                    </div>
                  </div>

                  <!-- Item -->
                  <div class="accordion-item mb-3">
                    <h6 class="accordion-header font-base" id="heading-5">
                      <button class="accordion-button fw-bold collapsed rounded d-block pe-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
                        Добавление локаций
                      </button>
                    </h6>
                    <!-- Body -->
                    <div id="collapse-5" class="accordion-collapse collapse" aria-labelledby="heading-5" data-bs-parent="#accordionExample2">
                      <div class="accordion-body mt-3">
                        Вы можете рассказать о каком-то интересном, полезном месте, локации или достопримечательности. Это может быть музей, театр, место где можно сделать классные фотографии или даже рынок с оптовыми ценами.
                        Размещайте объявление о локациях в разделе "Добавить объявление" - кнопка "+ Локацию". Или здесь:<br>
                        <%= link_to '+ Локацию', new_place_path, class: 'btn btn-sm btn-warning mt-2' %>
                      </div>
                    </div>
                  </div>


                </div>
              </div>
            </div>

            <div class="row g-4 mt-3">
              <!-- Action box item -->
              <div class="col-md-6 position-relative overflow-hidden">
                <div class="bg-primary bg-opacity-10 rounded-3 h-100 p-4">
                  <!-- Content -->
                  <div class="d-flex">
                    <!-- Icon -->
                    <div class="icon-lg text-white bg-primary rounded-circle flex-shrink-0"><i class="bi bi-telephone"></i></div>
                    <!-- Content -->
                    <div class="ms-3">
                      <h4 class="mb-1">Остались вопросы?</h4>
                      <p class="mb-3">Можно позвонить</p>
                      +7(978)265-19-47 <span class="small text-secondary">(с 9-00 до 18-00)</span>
                    </div>	
                  </div>
                </div>
              </div>

              <!-- Action box item -->
              <div class="col-md-6 position-relative overflow-hidden">
                <div class="bg-secondary bg-opacity-10 rounded-3 h-100 p-4">
                  <!-- Content -->
                  <div class="d-flex">
                    <!-- Icon -->
                    <div class="icon-lg text-white bg-warning rounded-circle flex-shrink-0"><i class="bi bi-envelope"></i></div>
                    <!-- Content -->
                    <div class="ms-3">
                      <h4 class="mb-1">Нужна помощь?</h4>
                      <p class="mb-3">Написать</p>
                      <a href="mailto:admin@ilovekrim.ru">admin@ilovekrim.ru</a>
                      <!-- <a href="#" class="btn btn-warning mb-0">Написать</a> -->
                    </div>	
                  </div>
                </div>
              </div>
            </div>
					</div>
					<!-- Card body END -->
				</div>
				<!-- CARD END -->
			</div>
		</div>
	</div>
</section>

