<div class="card shadow">  
  <div class="card-header border-bottom">
    <h5 class="mb-0">Сервисы и удобства</h5>
  </div>

  <div class="card-body">
    <div class="row g-3">
      <div class="col-12">
          <% Property::SERVICES.each do |key, value| %>
            <div class="checkbox-wrapper-16 d-inline">
              <label class="checkbox-wrapper ms-1 mb-2">
                <%= f.check_box :services, { multiple: true, checked: f.object.services&.include?(key.to_s), class: 'checkbox-input' }, key, nil %>
                <span class="checkbox-tile">
                  <%= f.label value, for: "property_services_#{key}",  class: 'form-check-label' %>
                </span>
              </label>
            </div>  
          <% end %>

          <%= f.fields_for :property_detail do |details_amenitites| %>
            <% PropertyDetail::AMENITIES.each do |key, value| %>
            <div class="checkbox-wrapper-16 d-inline">
              <label class="checkbox-wrapper ms-1 mb-2">
                <%= details_amenitites.check_box :amenities, { multiple: true, checked: details_amenitites.object.amenities&.include?(key.to_s), class: 'checkbox-input' }, key, nil %>
                <span class="checkbox-tile">
                  <%= details_amenitites.label value, for: "property_property_detail_attributes_amenities_#{key}",  class: 'form-check-label' %>
                </span>
              </label>
            </div>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
</div>

