<div class="card shadow">  
  <div class="card-header border-bottom">
    <h5 class="mb-0">Фотографии</h5>
  </div>

  <div class="card-body">
    <div class="row g-3" data-controller="previews">
      <div class="col-md-6">    
        <%= f.label :avatar, class: 'form-label' %>      
        <%= f.file_field :avatar,
              accept: 'image/*',
              class: 'form-control',
              data: { previews_target: "input", action: "change->previews#preview" } %>  

        <div class="mt-3">
          <% if f.object.avatar.attached? %>
            <%= image_tag(f.object.avatar, data: { previews_target: "preview" }) %>
          <% else %>
            <%= image_tag("", data: { previews_target: "preview" }, style: 'max-height: 200px;' , class: 'rounded') %>
          <% end %>
        </div>    
      </div>  

      <div class="col-12">
        <div class="form-group">
          <%= f.label :images, class: 'form-label' %>
          <%= f.file_field :images, multiple: true, accept: 'image/*', class: 'images-upload-field form-control' %>
        </div>
      </div>
    </div>
  </div>
</div>


