<%= turbo_frame_tag :modal do %>
  <div data-controller="turbomodal" data-action="turbo:submit-end->turbomodal#submitEnd" id="bookingModal" class="turbo-modal">
    <div class="turbo-modal-content card border">      
      <div class="card-header border-bottom">
        <div class="d-flex justify-content-between align-items-center">
          <h1 class="modal-title fs-5" id="bookingModalLabel">
            <% if @room.present? %>
              <%= @room.title %>
            <% else %>
              Написать сообщение
            <% end %>
          </h1>
          <button type="button" class="btn-close close" ></button>
        </div>
      </div>

      <div class="card-body my-3 py-2 px-4">
        <%= form_with(model: [@property, @booking]) do |f| %>
          <%= f.invisible_captcha :subtitle %>
          <div id="forms_errors">
            <%= render 'shared/errors', object: f.object %>
          </div>

          <% if @room.present? %>
            <%= f.hidden_field :room_id, value: @room.id %>          

            <div class="row align-items-end g-0" data-controller="lite-pickers">
              <!-- Check in -->
              <div class="col-6">
                <div class="form-border-bottom form-control-transparent d-flex align-items-center">
                  <i class="bi bi-calendar text-secondary d-block"></i>
                  <div class="form-fs-sm">
                    <%= f.text_field :check_in,
                                        class: "start-date form-control ",
                                        value: session['check_in'],
                                        placeholder: "Заезд",
                                        required: true %>
                  </div>
                </div>
              </div>

              <!-- Check Out -->
              <div class="col-6">
                <div class="form-border-bottom form-control-transparent d-flex align-items-center">
                  <i class="bi bi-calendar text-secondary d-block"></i>
                  <div class="form-fs-sm">        
                    <%= f.text_field :check_out,
                                        class: "end-date form-control ",
                                        value: session['check_out'],
                                        placeholder: "Выезд",
                                        required: true %>
                  </div>	
                </div>
              </div>
            </div>

            <div class="row my-3">
              <div class="col-6">
                <div class="form-group">
                  <%= f.label "Взрослых", class: 'form-label' %>            
                  <%= f.number_field :adults, class:"form-control", value: 2 %>             
                </div>
              </div>

              <div class="col-6">
                <div class="form-group">
                  <%= f.label "Детей", class: 'form-label' %>                
                  <%= f.number_field :children, class:"form-control" %>
                </div>
              </div>
            </div>
          <% end %>

          <div class="row">
            <div class="col-12">
              <div class="form-group ">
                <%= f.label "Ваше имя *", class: 'form-label' %>            
                <%= f.text_field :guest_name, class:"form-control", required: true %>
              </div>
            </div>

            <div class="col-6 mt-3">
              <div class="form-group">
                <%= f.label "Email *", class: 'form-label' %>            
                <%= f.email_field :guest_email, class:"form-control", required: true %>             
              </div>
            </div>

            <div class="col-6 mt-3" data-controller="previews">
              <div class="form-group">
                <%= f.label "Номер телефона *", class: 'form-label' %>                
                <%= f.telephone_field :guest_phone, id: "phone-mask", class:"form-control", required: true %>
              </div>
            </div>

            <div class="col-12 my-3">
              <%= f.label "Сообщение:", class: 'form-label' %>          
              <%= f.text_area :message, class:"form-control", rows:3 %>
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <%= button_tag type: 'submit', class:"w-50 btn btn-primary" do %>
              <i class="bi bi-envelope me-2"></i>Отправить
            <% end %>
          </div>            
        <% end %>  
      </div>             
    </div>      
  </div>
<% end %>
