<%= form_with(model: @property, class: 'vstack gap-4') do |f| %>
  <div id="forms_errors">
  <%= render 'shared/errors', object: f.object %>
  </div>
  
  <!-- base info -->
  <div class="card shadow">  
    <div class="card-header border-bottom">
      <h5 class="mb-0">Основная информация</h5>
    </div>

  <div class="card-body">
		  <div class="row g-3">
        <div class="col-md-6">        
          <%= f.label :title, class: 'form-label' %>        
          <%= f.text_field :title, class: 'form-control' %>
        </div>

        <div class="col-md-6">
          <%= f.label :address, class: 'form-label' %> <span class="small text-secondary">(без города)</span>     
          <%= f.text_field :address, class: 'form-control' %>
        </div>

        <div class="col-md-6">
          <%= f.label :category_id, class: 'form-label' %>       
          <%= f.collection_select :category_id, Category.all, :id, :title, { prompt: "Выбрать..." }, class:"form-select" %>
        </div>

        <div class="col-md-6">            
          <%= f.label :price_from, class: 'form-label' %> <span class="small text-secondary">(минимальная стоимость аренды за сутки)</span>        
          <div class="input-group"> 
            <%= f.text_field :price_from, class: 'form-control' %>
            <span class="input-group-text">&#8381;</span>
          </div> 
        </div>

        <div class="col-md-6">
          <%= f.label :town_id, class: 'form-label' %>       
          <%= f.collection_select :town_id, Town.order(:ordinal_number), :id, :name, { prompt: "Выбрать..." }, class:"form-select" %>
        </div>

        <div class="col-md-6">        
          <%= f.label :distance_to_sea, class: 'form-label' %> <span class="small text-secondary">(необязательно)</span>  
          <div class="input-group ">       
            <%= f.text_field :distance_to_sea, class: 'form-control' %>
            <span class="input-group-text">М</span>
          </div>          
        </div>        
      </div>
    </div>
  </div>

  <%= render 'geolocations/map_fields', f: f %>

  <%= render 'attached_images/imagable_fields', f: f %>

  <%= render 'properties/templates/property_detail_fields', f: f %>  

  <div class="text-center">
	  <%= f.submit "Разместить объявление",class:"btn btn-primary my-4" %>
	</div>
<% end %>




