<div class="col-md-6 col-xl-4 mb-4">
  <div class="card card-hover-shadow pb-0 h-100">
    <!-- fotorama begin -->
    <div class="" data-controller="fotorama" data-object="widget"
        data-width="100%"
        data-ratio="3/2"
        data-allowfullscreen="false"                
        data-nav="false"
        data-loop="true"
        data-keyboard="true"
        data-auto="false">      
      <%= link_to image_tag(property.avatar.variant(resize_to_limit: [3, 2])), property.avatar %>      
      <% property.images.take(2).each do |image| %> 
        <%= link_to image_tag(image.variant(resize_to_limit: [3, 2])), image %>     
      <% end %>
    </div>
    <!-- fotorama end -->   

    <!-- Card body START -->
    <div class="card-body px-3">      
      <!-- Title -->
      <div class="d-flex justify-content-between mb-1">        
        <h5 class="card-title my-0"><%= link_to property.title, property %></h5>        
      </div>

      <div class="d-sm-flex justify-content-sm-between align-items-center flex-wrap mt-1 mb-2">
        <%= link_to town_path(property.town_id), class: 'text-decoration-underline' do %>
          <span class="small"><i class="bi bi-arrow-return-right"></i>&nbsp;<%= towns_hash[property.town_id] %> </span>
        <% end %>
        <%= link_to properties_town_path(property.town_id, cat: property.category_id), class: 'text-decoration-underline' do %>
          <span class="small"><i class="bi bi-arrow-right"></i>&nbsp;<%= categories_hash[property.category_id] %> </span>
        <% end %>
      </div>

      <div class="d-sm-flex justify-content-sm-between align-items-center flex-wrap">
        <span class="small"><i class="bi bi-geo-alt"></i>&nbsp;<%= property.address %> </span>
        <% if property.distance_to_sea.present? %>
          <div class="d-inline">
            <i class="bi bi-water text-primary"></i>
            <small>море:</small>
            <span class=""><%= property.distance_to_sea %></span><small> м</small>
          </div>      
        <% end %>
      </div>

      <!-- Highlights Icons -->
      <ul class="nav nav-divider mt-2">
        <% property.services.take(3).each do |service| %>        
          <li class="nav-item"><%= Property::SERVICES[service.to_sym] %></li>            
        <% end %>
      </ul>
    </div>
    <!-- Card body END -->

    <%# property.rooms.each do |room| %>
      <%#= room.title %>
      <%#= room.calculate_booking(session[:check_in], session[:check_out]) %>
    <%# end %>

    <!-- Card footer START-->
    <div class="card-footer pt-0">
      <!-- Price and Button -->
      <div class="d-flex justify-content-between align-items-center flex-wrap">
        <!-- Price -->
        <div class="hstack gap-2">
          <small>от</small>
          <h5 class="fw-bold text-orange mb-0">1500<small>₽</small></h5><small>/сутки</small>          
        </div>
        <!-- Button -->
        <div class="">
          <%= link_to property, class: "btn btn-sm btn-primary-soft mb-0" do %>
            Подробнее
          <% end %>  
        </div>
      </div>
    </div>

  </div>
</div>