<h5 class="card-title"><%= link_to property.title, property %></h5>
<%= property.address %><br>
Town: <%= property.town.name %>
Category: <%= property.category.title %>
<br>
<%= link_to image_tag(property.avatar_thumb), property %>
<hr>
