<% provide(:title, "Edit #{@property.title}") %>

<h1><%= "Edit #{@property.title}" %></h1>

<%= form_with(model: @property, class: 'w-75', data: {turbo: false}) do |f| %>
  <%= render 'shared/errors', object: f.object %>

  <div class="form-group mb-2">
    <%= f.label :title, class: 'form-label' %>        
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group mb-2">
    <%= f.label :address, class: 'form-label' %>        
    <%= f.text_field :address, class: 'form-control' %>
  </div>

  <div class="form-group mb-2">
    <%= f.label :town_id, class: 'form-label' %>       
    <%= f.collection_select :town_id, Town.order(:number), :id, :name, { prompt: "Выбрать..." }, class:"form-select" %>
  </div>

  <div class="form-group mb-2">
    <%= f.label :category_id, class: 'form-label' %>       
    <%= f.collection_select :category_id, Category.all, :id, :title, { prompt: "Выбрать..." }, class:"form-select" %>
  </div>

  <!-- map -->
  <div class="row mb-3 pb-3 pt-2 bg-white shadow">
    <h3 class='h4 text-center text-success'>Отметить на карте</h3>
    <div class="col-md-8">
      <div id="map" style="height: 300px" class="border"></div>
    </div>
    <div class="col-md-4">
      <div class="coordinates" style="width: 200px">
        <span>Координаты</span>
        <div class="form-group">              
          <small class="text-muted">
            Широта
          </small>
          <%= f.text_field :latitude, class: 'form-control form-control-sm', readonly: true, required: true %>
        </div>
        <div class="form-group">              
          <small class="text-muted">
            Долгота
          </small>
          <%= f.text_field :longitude, class: 'form-control form-control-sm', readonly: true, required: true %>
        </div>

        <br>
        
        <button type="button" id="clear-btn" class="d-block btn btn-outline-secondary btn-sm">Сбросить координаты</button>
        
      </div>
    </div>
  </div>

  <div class="form-group mb-2">
    <%= f.label :avatar, class: 'form-label' %>        
    <%= f.file_field :avatar, class: 'form-control' %>
  </div>

  <div class="form-group mb-2">
    <%= f.label :images, class: 'form-label' %>        
    <%= f.file_field :images, multiple: true, class: 'form-control' %>
  </div>

  <%= f.submit "Save",class:"btn btn-primary my-4" %>
<% end %>

<!-- remove images -->
<%= render partial: 'attachment', collection: @property.images, as: :image %>

<script type="text/javascript">
    ymaps.ready(init);
    function init(){
      const coords = [<%= @property.latitude %>, <%= @property.longitude %>]
      const myMap = new ymaps.Map("map", {
          center: coords,
          zoom: 16,
          controls: ['zoomControl'],
          behaviors: ['drag','dblClickZoom', 'multiTouch']
      });

      const myPlacemark = new ymaps.Placemark(coords, {}, {
        preset: "islands#blueHomeIcon",        
        hideIconOnBalloonOpen: false,
        draggable: true
      });
      myMap.geoObjects.add(myPlacemark);

      myPlacemark.events.add('dragend', function(e) {
        const newCoords = myPlacemark.geometry.getCoordinates()
        document.getElementById('property_latitude').value = newCoords[0].toPrecision(6)
        document.getElementById('property_longitude').value = newCoords[1].toPrecision(6)

      })

      document.getElementById('clear-btn').onclick = function(e) {
        //myMap.geoObjects.remove(myPlacemark)
        document.getElementById('property_latitude').value = ''
        document.getElementById('property_longitude').value = ''
      }
    }

    
</script>
