<% provide(:title, "Где остановиться") %>

<%= turbo_frame_tag :town_properties do %>
  <!-- breadcrumbs -->
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to 'Главная', root_path %></li>
        <% unless @properties_category %>
          <li class="breadcrumb-item active">Где остановиться</li>       
        <% else %>        
          <li class="breadcrumb-item"><%= link_to "Где остановиться", properties_path %></li> 
          <li class="breadcrumb-item active"><%= @properties_category.title %></li>    
        <% end %>
      </ol>
    </nav>
  </div>

  <div class="container">
    <div class="row mb-md-3 mb-5">
      <div class="col-xl-12" id="search_form">  
        <%= render 'search/form' %>
      </div>

      <div class="col-md-12 mt-5 text-center text-md-start mt-md-4">
        <%= link_to activities_path, class: 'badge bg-orange bg-opacity-10 text-orange ms-2 mb-3' do %>
          <i class="bi bi-star me-2"></i>Активный отдых
        <% end %>
        <%= link_to services_path, class: 'badge bg-info bg-opacity-10 text-info ms-2 mb-3' do %>
          <i class="bi bi-box me-2"></i>Услуги и сервисы
        <% end %>
        <%= link_to places_path, class: 'badge bg-warning bg-opacity-10 text-warning ms-2 mb-3' do %>
          <i class="bi bi-pin-map me-2"></i>Локации
        <% end %>
      </div>
    </div>
  </div>

  <section class="pt-0">
    <div class="container">
      <div class="mb-3">
        <% if @properties_category %>
          <h1 class="fs-4"><i class="bi bi-check2-circle text-primary me-3"></i>Где остановиться. <%= @properties_category.title %> (<%= @pagy.count %>)</h1> 
        <% else %>
          <h1 class="fs-4"><i class="bi bi-check2-circle text-primary me-3"></i>Где остановиться (<%= @pagy.count %>)</h1> 
        <% end %>                    
      </div>
      <div class="mb-3">        
        <%= link_to 'Все категории', properties_path, class: 'btn btn-light btn-sm' %>
        <% @categories.each do |cat| %>
          <%= link_to cat.title, { cat: cat.id }, data: { turbo_frame: :town_properties }, class: 'btn btn-light btn-sm' %>
        <% end %>
      </div>

      <div class="row gx-4">
        <% if @properties.any? %>
          <div class="col-12 mb-3">
            <h2 class="fs-5">Предложений: <%= @pagy.count %></h2>          
          </div>

          <%= render partial: 'properties/property', collection: @properties, as: :property %>

          <% if @pagy.count > 12 %>
            <div class="col-12 mt-5 d-flex justify-content-center">
              <%= pagy_bootstrap_nav(@pagy).html_safe %>
            </div>
          <% end %>
          <% else %>
          <div class="col-12 text-center">
            <h1 class="fs-4 mb-2">Нет подходящих предложений</h1>
          </div>
        <% end %>
      </div>
    </div>
  </section>
<% end %>

