<% provide(:title, @property.title) %>

<h1><%= @property.title %></h1>

<%= image_tag @property.avatar.variant(resize_to_limit: [600, 200]) %>

<% @property.images.each do |image| %>
  <%= image_tag image.variant(resize_to_limit: [300, 100]) %>
<% end %>

<p>
  Town: <%= @property.town.name %>
  <br>
  Address: <%= @property.address %>
  <br>
  Category: <%= @property.category.title %>
  <br>
  Owner: <%= @property.owner.email %>
</p>

<% if policy(@property).edit? %>
  <p>
    <%= link_to 'Edit', edit_property_path(@property), class: 'btn btn-warning btn-sm' %>
    <%= link_to "Delete", property_path(@property), data: { "turbo-method": :delete }, class: 'btn btn-outline-danger btn-sm' %>
  </p>
<% end %>

<div id="map" style="height: 300px" class="border shadow"></div>

<% if @property.rooms.any? %>
  <h2>Rooms</h2>
  <%= render partial: 'room', collection: @property.rooms, as: :room %>
<% end %>

<script type="text/javascript"> // map
  ymaps.ready(init);
  function init(){
    const coords = [<%= @property.latitude %>, <%= @property.longitude %>]      
    const myMap = new ymaps.Map("map", {
        center: coords,
        zoom: 14,
        behaviors: ['drag','dblClickZoom', 'multiTouch']
    });    
    const myPlacemark = new ymaps.Placemark(coords, {
      balloonContentHeader: 'Однажды',
      balloonContentBody: 'В студеную зимнюю пору',
      balloonContentFooter: 'Мы пошли в гору',
      hintContent: 'Зимние происшествия'
    }, {
      preset: "islands#blueHomeIcon"
    });
    myMap.geoObjects.add(myPlacemark);
  };  
</script>




