<h1 class="fs-2 mt-3"><%= @property.title %></h1>

<!-- photo + contacts -->
<div class="row mt-3">
  
  <div class="col-lg-9 px-0">
    <!-- fotorama begin -->        
    <div class="fotoramain mt-2 property-images">
      <%= link_to image_tag(@property.avatar.variant(resize_to_limit: [100, 100])), @property.avatar %>
      <% @property.images.each do |image| %>
        <%= link_to image_tag(image.variant(resize_to_limit: [100, 100])), image %>
      <% end %>
    </div>        
    <!-- fotorama end -->
  </div>

  <div class="col-lg-3 px-4">   

    <h4>Contacts:</h4>
    <p class="fw-bold mb-0">
      <i class="bi bi-geo-alt me-2"></i><%= "#{@property.town.name}, #{@property.address}" %>
    </p>
  </div>

</div>


<% if @rooms.any? %>
  <h2 class="mt-5">Rooms</h2>
  <%= render @rooms %>
<% end %>

<%= render 'geolocations/show_map', object: @property, preset_icon: "islands#blueHomeIcon" %>

<% if @nearby_properties.any? %>
  <div class="nearby_properties mt-5">
    <h4>Nearby properties</h4>
    <% @nearby_properties.each do |nearby_property| %>
      <p>
        <%= link_to nearby_property[:title], property_path(nearby_property[:object_id]) %>
        <br>
        <span><%= nearby_property[:distance] %> m.</span>
      </p>
    <% end %>    
  </div>
<% end %>

