<h1 class="card-title"><%= @property.title %></h1>
<p class="card-text"><%= @property.address %></p>
Town: <%= @property.town.name %>
Category: <%= @property.category.title %>

<div class="property-images">
  <%= image_tag @property.avatar.variant(resize_to_limit: [600, 200]), alt: @property.avatar.filename.to_s %>

  <% @property.images.each do |image| %>
    <%= image_tag image.variant(resize_to_limit: [300, 100]), alt: image.filename.to_s %>
  <% end %>
</div>

<% if @property.rooms.any? %>
  <h2>Rooms</h2>
  <%= render partial: 'room', collection: @property.rooms, as: :room %>
<% end %>

<%= render 'geolocations/show_map', object: @property, preset_icon: "islands#blueHomeIcon" %>

<% if @nearby_properties.any? %>
  <div class="nearby_properties">
    <h4>Nearby properties</h4>
    <% @nearby_properties.each do |nearby_property| %>
      <p>
        <%= link_to nearby_property[:title], property_path(nearby_property[:object_id]) %>
        <br>
        <span><%= nearby_property[:distance] %> m.</span>
      </p>
    <% end %>    
  </div>
<% end %>


