<% provide(:title, "#{@property.title} - #{@property.category.title} в #{@property.town.name}") %>

<% provide :turbo_cache_control do %>
  <meta name="turbo-cache-control" content="no-cache">
<% end %>

<main>
	<!-- breadcrumbs -->
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><%= link_to 'Главная', root_path %></li>
				<li class="breadcrumb-item"><%= link_to @property.town.name, @property.town %></li>
				<li class="breadcrumb-item"><%= link_to "Жильё", properties_town_path(@property.town) %></li>				
				<li class="breadcrumb-item"><%= link_to @property.category.title, properties_town_path(@property.town, { cat: @property.category.id }) %></li>
				<li class="breadcrumb-item active"><%= @property.title %></li> 
			</ol>
		</nav>
	</div>

	<%= render 'shared/not_activated' unless @property.activated? %>	

	<!-- title -->
	<section class="py-0">
		<div class="container position-relative">			
			<!-- Title and button START -->
			<div class="row mb-3 border-bottom pb-2">
				<div class="col-12">
					<!-- Meta -->
					<div class="d-lg-flex justify-content-lg-between mb-1">
						<!-- Title -->
						<div class="mb-2 mb-lg-0 ">
							<h1 class="h3"><%= @property.title %></h1>
							<!-- Location -->
							<p class="fw-bold mb-0"><i class="bi bi-geo-alt me-2"></i>
								<%= "#{@property.town.name}, #{@property.address}" %>
								<!--
								<a href="#" class="ms-2 text-decoration-underline" data-bs-toggle="modal" data-bs-target="#mapmodal">
									<i class="bi bi-eye-fill me-1"></i>View On Map
								</a>							
								-->
							</p>						
						</div>
						
						<ul class="list-inline text-center">
							<li class="list-inline-item me-3">		
								<i class="bi bi-wallet2 me-1 text-success"></i>
									<div id="price_from" class="d-inline">
										<%= render 'properties/show/price_from' %>
									</div>

									<% if @property.distance_to_sea %>
										<div class="mx-1 vr"></div>
										<i class="bi bi-water me-1 text-primary"></i>
										море ~ <span class="fw-semibold"><%= @property.distance_to_sea %></span><small>м</small>
									<% end %>								
							</li>							
							
							<li class="list-inline-item">
								<a href="#" class="btn btn-sm btn-orange-soft px-2"><i class="bi bi-heart" style="font-size: 1rem;"></i></a>
							</li>
							<!-- DROPDOWN SHARE
							<li class="list-inline-item dropdown">
								<a href="#" class="btn btn-sm btn-light px-2" role="button" id="dropdownShare" data-bs-toggle="dropdown" aria-expanded="false">
									<i class="bi bi-share text-orange" style="font-size: 1rem;"></i>
								</a>
								<ul class="dropdown-menu dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownShare">
									<li><a class="dropdown-item" href="#"><i class="bi bi-google me-2"></i>LinkedIn</a></li>
									<li><a class="dropdown-item" href="#"><i class="bi bi-back me-2"></i>Copy link</a></li>
								</ul>
							</li>
							-->
						</ul>
						
					</div>
				</div>
			</div>
			<!-- Title and button END -->		
		</div>
	</section>

	<!-- Photo & contacts -->
	<section class="card-grid pt-0">
		<div class="container">
			<div class="row g-2">
				<div class="col-lg-8 px-0">
					<!-- fotorama begin -->        
					<div class="fotoramain mt-2 property-images" data-controller="fotorama" data-object="main">
						<%= link_to image_tag(@property.avatar.variant(resize_to_limit: [100, 100])), @property.avatar %>
						<% @property.images.each do |image| %>
							<%= link_to image_tag(image.variant(resize_to_limit: [100, 100])), image %>
						<% end %>
					</div>        
					<!-- fotorama end -->
				</div>

				<aside class="col-lg-4 px-lg-4 px-sm-0 mt-3">
					<div id="check_in_form" class="card card-body border mb-3 py-3 px-3">
						<%= render partial: 'properties/show/check_in_form', locals: { property_id: @property.id } %>
					</div>
					
					<%= render 'properties/show/contacts' %>
				</aside>			
			</div>
		</div>
	</section>

	<section class="pt-0" data-controller="property-show">
		<div class="container">
			<div class="row g-2 g-xl-3">
				<div class="col-xl-8 order-1">
					<ul class="nav nav-tabs nav-bottom-line mb-3">
						<li class="nav-item me-2">
							<a class="nav-link active" data-bs-toggle="tab" href="#tab-description"><span class="fs-5">Описание</span></a>
						</li>

						<% if @rooms.any? %>
							<li class="nav-item">
								<a class="nav-link" data-bs-toggle="tab" href="#tab-rooms"><span class="fs-5">Номера</span></a>
							</li>
						<% end %>
				
						<li class="nav-item">
							<a class="nav-link" data-bs-toggle="tab" href="#tab-map"><span class="fs-5">Карта</span></a>
						</li>
					</ul>

					<div class="tab-content">
						<%= render 'properties/show/tab_description' %><!-- DESCRIPTION -->

						<% if @rooms.any? %>
							<%= render 'properties/show/tab_rooms' %><!-- ROOMS -->
						<% end %>			

						<%= render 'properties/show/tab_map' %><!-- MAP -->						
					</div>
				</div>

				<!-- Right side content START -->
				<aside class="col-lg-4 px-lg-4 px-sm-0 mt-3 order-2">
					<% if @nearby_properties.any? %>
						<%= render partial: 'properties/show/nearby_properties', locals: { object: @property } %>
					<% end %>

          <% if @nearby_activities.any? %>
            <h4>Активный отдых рядом</h4>
						<%= render partial: 'shared/nearby_object', locals: { main_object: @property, nearby_objects: @nearby_activities } %>
					<% end %>

          <% if @nearby_services.any? %>
            <h4>Услуги и сервисы рядом</h4>
						<%= render partial: 'shared/nearby_object', locals: { main_object: @property, nearby_objects: @nearby_services } %>
					<% end %>

					<% if @nearby_places.any? %>
            <h4>Места и достопримечательности рядом</h4>
						<%= render partial: 'shared/nearby_object', locals: { main_object: @property, nearby_objects: @nearby_places } %>
					<% end %>
				</aside>
				<!-- Right side content END -->
			</div>
		</div>
	</section>
</main>

<!-- Map modal START (don't used) -->
<div class="modal fade" id="mapmodal" tabindex="-1" aria-labelledby="mapmodalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Title -->
			<div class="modal-header">
				<h5 class="modal-title" id="mapmodalLabel">View Our Hotel Location</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<!-- Map -->
			<div class="modal-body p-0">				
				<div class="p-2">
					MAP MODAL				
				</div>
			</div>
			<!-- Button -->
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>
<!-- Map modal END -->





