<div class="container">
  <h1> Need your email </h1>

  <%= render 'shared/errors', object: @customer %>

  <%= form_for @customer, url: customers_create_customer_path, method: :post do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control'%>
    <%= f.submit 'Send', class: "btn btn-primary mt-3" %>
  <% end %>
</div>

