<footer class="bg-secondary bg-opacity-10 border-top shadow">
	<div class="container py-3">
		<!-- Row START -->
		<div class="row align-items-center g-4">

			<!-- Widget 1 START -->
			<div class="col-lg-5">
				<!-- logo -->
				<div class="row  g-0">				
					<div class="col-4 px-3">
						<%= link_to image_tag("logo.png", alt: "logo", class: "img-fluid"), root_url %>
					</div>
				
					<div class="col-8">
						<p class="mt-md-2 mt-3 pt-md-2  small"> «Люблю Крым» -  поиск жилья, активного отдыха, развлечений и услуг в Крыму</p>
					</div>
				</div>
			</div>
			<!-- Widget 1 END -->

			<!-- Widget 2 START -->
			<div class="col-lg-7 mt-1 pt-md-3 text-center text-md-end mt-md-2">
				<ul class="nav justify-content-center justify-content-md-end">
					<!--
					<li class="list-inline-item pt-1"><a class="nav-link text-decoration-underline py-1 text-primary" href="#">О проекте</a></li>
					<li class="list-inline-item pt-1"><a class="nav-link text-decoration-underline py-1 text-primary" href="#">Контакты</a></li>
					<li class="list-inline-item pt-1"><a class="nav-link text-decoration-underline py-1 text-primary" href="#">О проекте</a></li>
					-->

					<!--
					<li class="list-inline-item ">
						<%= link_to "https://t.me/ilovekrim_ru", class: 'btn btn-sm btn-outline-primary mt-4 mt-md-0' do %>
							<i class="bi bi-telegram fs-6"></i>
							Telegram
						<% end %>
					</li>

					<li class="list-inline-item ">
						<%= link_to "https://vk.com/i_lovekrim", class: 'btn btn-sm btn-outline-primary mt-4 mt-md-0' do %>
							<i class="bi bi-telegram fs-6"></i>
							VK
						<% end %>
					</li> -->

					<% unless current_partner.present? %>
						<li class="list-inline-item ms-md-3">
							<%= link_to new_partner_registration_path, class: 'btn btn-sm btn-primary-soft mt-4 mt-md-0' do %>
								<i class="bi bi-plus fs-6"></i>
								Добавить объявление
							<% end %>
						</li>
					<% end %>					
				</ul>
			</div>
			<!-- Widget 2 END -->
		</div><!-- Row END -->
	</div>

	<!-- Bottom footer -->
	<div class="top_line_menu">
		<div class="container">
			<div class="d-lg-flex justify-content-between align-items-center py-3 text-center text-lg-start">
				<!-- copyright text -->
				<div class="text-light small">©2023 ILoveKrim.ru. Жильё и активный отдых в Крыму</div>
				<!-- copyright links-->
				<div class="nav mt-2 mt-lg-0">
					<ul class="list-inline small mx-auto mb-0">
						<li class="list-inline-item me-0">
							<%= link_to "О проекте", about_path, target: "_blank", class: 'nav-link text-decoration-underline py-1 text-light' %>
						</li>
						<li class="list-inline-item me-0">
							<%= link_to "Контакты", contacts_path, target: "_blank", class: 'nav-link text-decoration-underline py-1 text-light' %>
						</li>			
						<li class="list-inline-item me-0">
							<%= link_to "Политика конфиденциальности", privacy_path, target: "_blank", class: 'nav-link text-decoration-underline py-1 text-light' %>
						</li>
						<li class="list-inline-item me-0">
							<%= link_to "Пользовательское соглашение", agreement_path, target: "_blank", class: 'nav-link text-decoration-underline py-1 text-light' %>
						</li>
						
						<!-- 
						<li class="list-inline-item me-0"><a class="nav-link text-decoration-underline py-1 text-light" href="#">О проекте</a></li>
						<li class="list-inline-item me-0"><a class="nav-link text-decoration-underline py-1 text-light" href="#">Контакты</a></li> 
						<li class="list-inline-item ">
							<a class="btn btn-light-soft btn-sm" target="_blank" href="https://t.me/ilovekrim_ru"><i class="bi bi-telegram me-1"></i>Telegram</a>
							<a class="btn btn-light-soft btn-sm" target="_blank" href="https://vk.com/i_lovekrim"><i class="bi bi-telegram me-1"></i>VK</a>
						</li> -->
					
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>

<div class="d-md-none pt-5 pb-3"></div>
