<nav class="navbar navbar-expand-md navbar-light sticky-top" style="background-color: #dadada;">
  <div class="container">  
    <%= link_to "ILK", root_url, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header" style="background-color: #dadada;">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">      
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <%= link_to "Questions", root_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>

          <% if current_customer %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= current_customer.email %> 
              </a>
              <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                <li><%= link_to "Пользователи", root_path, class: "dropdown-item" %></li>
                <li><%= link_to "Админ", root_url, class: "dropdown-item" %></li>
                <li><%= link_to "Личный кабинет", root_url, class: "dropdown-item" %></li>
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to "Logout CUSTOMER", destroy_customer_session_path, data: { "turbo-method": :delete }, class: 'dropdown-item' %></li>
              </ul>
            </li>
          <% else %>
            <div class="text-end mt-1">
              <%= link_to "Login CUSTOMER", new_customer_session_path, class: 'btn btn-sm btn-outline-primary' %>
              <%= link_to "Signup CUSTOMER", new_customer_registration_path, class: 'btn btn-sm btn-outline-primary' %>
            </div>
          <% end %>
        </ul>

      </div>
    </div>
  </div>
</nav>







<%= link_to 'Categories', categories_path, class: 'btn btn-primary' %>
<%= link_to 'Towns', towns_path, class: 'btn btn-primary' %>
<%= link_to 'New Property', new_property_path %>
<%= link_to 'Properties', properties_path, class: 'btn btn-primary' %>
|
<%= link_to "Login CUSTOMER", new_customer_session_path %>
|
<%= link_to "Signup CUSTOMER", new_customer_registration_path %>

<% if current_customer %>
  
  <%= link_to "Logout CUSTOMER", destroy_customer_session_path, data: { "turbo-method": :delete }, class: 'btn btn-outline-danger' %>

<% end %>


