<div class="top_line_menu  text-end">
	<div class="container py-1" style="font-size: 14px;">
			<!--
			<div id="favorite_top_menu" class="d-inline">
				<%#= render 'shared/favorite_top_menu' %>
			</div>-->
			<%= link_to "О проекте", about_path, class: 'mx-1 text-light small' %>
			
			<% unless current_partner.present? %>
				<span class="text-secondary">|</span>
				<%= link_to "Добавить объявление", join_us_url, class: 'mx-1 text-light small' %>
			<% end %>	
	</div>
</div>

<header class="navbar-light header-sticky shadow">
	<nav class="navbar navbar-expand-xl">
		<div class="container">
			<!-- Logo START -->
			<%= link_to root_url, class: "navbar-brand" do %>
				<%= image_tag("logo.png", alt: "logo", class: "light-mode-item navbar-brand-item") %>
				<%= image_tag("logo.png", alt: "logo", class: "dark-mode-item navbar-brand-item") %>
			<% end %>
			<!-- Logo END -->

			<!-- Responsive navbar toggler -->
			<button class="navbar-toggler ms-auto ms-sm-0 p-0 p-sm-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-animation">
					<span></span>
					<span></span>
					<span></span>
				</span>
				<span class="d-none d-sm-inline-block small">Меню</span>
			</button>

			<!-- Main navbar START -->
			<div class="navbar-collapse collapse" id="navbarCollapse">
				<ul class="navbar-nav navbar-nav-scroll me-auto">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="pageMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Курорты
						</a>
						<ul class="dropdown-menu" aria-labelledby="pageMenu">
							<% Town.find_each do |town| %>
								<li><%= link_to town.name, town, class: 'dropdown-item' %></li>	
							<% end %>
						</ul>
					</li>

					<% if @town.present? %>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="pageMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<%= @town.name %>
							</a>
							<ul class="dropdown-menu" aria-labelledby="pageMenu">
								<li><%= link_to "Страница города", town_path(@town), class: 'dropdown-item' %></li>
								<li><%= link_to "Где остановиться", properties_town_path(@town), class: 'dropdown-item' %></li>
								<li><%= link_to "Активный отдых", activities_town_path(@town), class: 'dropdown-item' %></li>
								<li><%= link_to "Услуги и сервисы", services_town_path(@town), class: 'dropdown-item' %></li>
								<li><%= link_to "Где поесть", food_places_town_path(@town), class: 'dropdown-item' %></li>
								<li><%= link_to "Локации", places_town_path(@town), class: 'dropdown-item' %></li>
							</ul>
						</li>
					<% end %>	
				</ul>		
			</div>
			<!-- Main navbar END -->

			<ul class="nav flex-row align-items-center list-unstyled ms-1 ">				
				<div id="favorite_main_menu" class="d-inline">
					<%= render 'shared/favorite_main_menu' %>
				</div>

				<div id="reset_search_button">
					<%= render 'shared/buttons/reset_search_button' %>
				</div>

				<% if current_partner %>				
					<li class="nav-item ms-3 dropdown">
						
						<a class="avatar avatar-sm p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
							<%= partner_avatar_or_placeholder %>						
						</a>	

						<!-- Profile dropdown START -->
						<ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown">
							<!-- Profile info -->
							<li class="px-3 mb-3">
								<div class="d-flex align-items-center">
									<!-- Avatar -->
									<div class="avatar me-3">
										<%= partner_avatar_or_placeholder %>
									</div>
									<div>									
										<span class="h6 mt-2 mt-sm-0"><%= current_partner.name_or_email %></span>
										<p class="small m-0"><%= current_partner.email %></p>
									</div>
								</div>
							</li>

							<!-- Links -->
							<li><hr class="dropdown-divider"></li>
							<li>
								<%= link_to partners_root_path, class: 'dropdown-item' do %>
									<i class="bi bi-person-workspace me-2"></i>Кабинет
								<% end %>
							</li>
							<!--
							<li>
								<%= link_to partners_bookings_path, class: 'dropdown-item' do %>
									<i class="bi bi-star me-2"></i>Заявки
								<% end %>
							</li>  -->
							<li>
								<%= link_to destroy_partner_session_path, data: { "turbo-method": :delete }, class: 'dropdown-item bg-danger-soft-hover' do %>
									<i class="bi bi-box-arrow-right me-2"></i>Выход
								<% end %>
							</li>
							<li><hr class="dropdown-divider"></li>
							<li class="text-end">
								<div class="modeswitch-wrap" id="darkModeSwitch">
									<div class="modeswitch-item">
										<div class="modeswitch-icon"></div>
									</div>				
								</div>
							</li>
						</ul>
						<!-- Profile dropdown END -->
					</li>
					
					<% if current_partner.admin? %>
						<!-- Nav item Listing -->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="listingMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Admin
							</a>
							<ul class="dropdown-menu" aria-labelledby="listingMenu">
								<li><%= link_to 'Properties', admin_listings_path, class: 'dropdown-item' %></li>		
								<li><%= link_to 'Privacy', privacy_path, class: 'dropdown-item' %></li>
								<li>
									<%= link_to destroy_partner_session_path, data: { "turbo-method": :delete }, class: 'dropdown-item bg-danger-soft-hover' do %>
										<i class="bi bi-box-arrow-right me-2"></i>Выход
									<% end %>
								</li>			
							</ul>
						</li>
					<% end %>

				<% else %>
					<li class="nav-item dropdown dropstart ms-2">		
						<!-- Notification button -->
						<a class="btn btn-primary-soft btn-sm px-2 py-1 mb-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
							<i class="bi bi-person-add me-1 fs-6"></i>Войти
						</a>

						<!-- Notification dropdown menu START -->
						<div class="dropdown-menu dropdown-animation dropdown-menu-end dropdown-menu-size-md shadow-lg p-0">
							<div class="card bg-transparent">
								<!-- Card header -->
								<div class="card-header bg-transparent text-center border-bottom">
									<h6 class="m-0">Авторизация</h6>
								</div>

								<!-- Card body START -->
								<div class="card-body p-3">
									<ul class="list-group list-group-flush list-unstyled p-2">
										<!-- Notification item -->
										<li class="mb-2 text-center">											
											<!--<h6 class="mb-2"><i class="bi bi-building-fill-add"></i><span class="ms-1">For Partners</span></h6> -->
											Регистрируйтесь в качестве партнёра для размещения объявлений
											<div class="row mt-3">
												<div class="col-sm-6">
													<%= link_to "Вход", new_partner_session_path, class: 'btn btn-primary-soft btn-sm w-100' %>
												</div>
												<div class="col-sm-6">
													<%= link_to "Регистрация", new_partner_registration_path, class: 'btn btn-primary-soft btn-sm w-100' %>
												</div>
											</div>									
										</li>
									</ul>
								</div>
								<!-- Card body END -->
								<div class="card-footer bg-transparent text-end border-top">
									
									<div class="modeswitch-wrap" id="darkModeSwitch">
										<div class="modeswitch-item">
											<div class="modeswitch-icon"></div>
										</div>				
									</div>
								</div>
							</div>
						</div>
						<!-- Notification dropdown menu END -->
					</li>
				<% end %>
			</ul>
		</div>
	</nav>
</header>
