<div class="top_line_menu py-3">
</div>

<header class="navbar-light header-sticky shadow">
	<nav class="navbar navbar-expand-xl">
		<div class="container">
			<!-- Logo START -->
			<%= link_to root_url, class: "navbar-brand" do %>
				<%= image_tag("logo.png", alt: "logo", class: "light-mode-item navbar-brand-item") %>
				<%= image_tag("logo.png", alt: "logo", class: "dark-mode-item navbar-brand-item") %>
			<% end %>
			<!-- Logo END -->

			<!-- Responsive navbar toggler -->
			<button class="navbar-toggler ms-auto ms-sm-0 p-0 p-sm-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-animation">
					<span></span>
					<span></span>
					<span></span>
				</span>
				<span class="d-none d-sm-inline-block small">Menu</span>
			</button>

			<!-- Main navbar START -->
			<div class="navbar-collapse collapse" id="navbarCollapse">
				<ul class="navbar-nav navbar-nav-scroll me-auto">
					<% if Rails.env.development? %>
						<!-- Nav item Listing -->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="listingMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Static pages
							</a>
							<ul class="dropdown-menu" aria-labelledby="listingMenu">
								<li><%= link_to 'Contacts', contacts_path, class: 'dropdown-item' %></li>		
								<li><%= link_to 'Privacy', privacy_path, class: 'dropdown-item' %></li>					
							</ul>
						</li>
					<% end %>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="pageMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Towns</a>
						<ul class="dropdown-menu" aria-labelledby="pageMenu">
							<% Town.find_each do |town| %>
								<li><%= link_to town.name, town, class: 'dropdown-item' %></li>	
							<% end %>
						</ul>
					</li>					
				</ul>		
			</div>
			<!-- Main navbar END -->

			<% if current_partner %>
				<!-- PARTNER NAV START -->
				<ul class="nav flex-row align-items-center list-unstyled ms-xl-auto nav-partner">				
					<!-- Profile dropdown START -->
					<li class="nav-item ms-3 dropdown">
						<!-- Avatar -->
						<a class="avatar avatar-xs p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
							<%= image_tag("theme/user.png", class: 'avatar-img rounded-circle', alt: "avatar") %>
						</a>

						<!-- Profile dropdown START -->
						<ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown">
							<!-- Profile info -->
							<li class="px-3 mb-3">
								<div class="d-flex align-items-center">
									<!-- Avatar -->
									<div class="avatar me-3">
										<%= image_tag("theme/user.png", class: 'avatar-img rounded-circle shadow', alt: "avatar") %>
									</div>
									<div>									
										<span class="h6 mt-2 mt-sm-0">Partner</span>
										<p class="small m-0"><%= current_partner.email %></p>
									</div>
								</div>
							</li>

							<!-- Links -->
							<li> <hr class="dropdown-divider"></li>

							<li>
								<%= link_to partners_root_path, class: 'dropdown-item' do %>
									<i class="bi bi-house-door fa-fw me-2"></i>Dashboard
								<% end %>
							</li>

							<li>
								<%= link_to partners_orders_path, class: 'dropdown-item' do %>
									<i class="bi bi-bookmark-heart fa-fw me-2"></i>Orders
								<% end %>
							</li>

							<li>
								<%= link_to destroy_partner_session_path, data: { "turbo-method": :delete }, class: 'dropdown-item bg-danger-soft-hover' do %>
									<i class="bi bi-box-arrow-right fa-fw me-2"></i>Sign Out
								<% end %>
							</li>
						</ul>
						<!-- Profile dropdown END -->
					</li>
					<!-- Profile dropdown END -->
				</ul>
			<% elsif current_customer %>
				<!-- CUSTOMER NAV START -->
				<ul class="nav flex-row align-items-center list-unstyled ms-xl-auto nav-customer">				
					<!-- Profile dropdown START -->
					<li class="nav-item ms-3 dropdown">
						<!-- Avatar -->
						<a class="avatar avatar-xs p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
							<%= image_tag("theme/guest.png", class: 'avatar-img rounded-circle', alt: "avatar") %>
						</a>

						<!-- Profile dropdown START -->
						<ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown">
							<!-- Profile info -->
							<li class="px-3 mb-3">
								<div class="d-flex align-items-center">
									<!-- Avatar -->
									<div class="avatar me-3">
										<%= image_tag("theme/guest.png", class: 'avatar-img rounded-circle shadow', alt: "avatar") %>
									</div>
									<div>									
										<span class="h6 mt-2 mt-sm-0">Customer</span>
										<p class="small m-0"><%= current_customer.email %></p>
									</div>
								</div>
							</li>

							<!-- Links -->
							<li> <hr class="dropdown-divider"></li>

							<li>
								<%= link_to customers_root_path, class: 'dropdown-item' do %>
									<i class="bi bi-house-door fa-fw me-2"></i>Dashboard
								<% end %>
							</li>				

							<li>
								<%= link_to destroy_customer_session_path, data: { "turbo-method": :delete }, class: 'dropdown-item bg-danger-soft-hover' do %>
									<i class="bi bi-box-arrow-right fa-fw me-2"></i>Sign Out
								<% end %>
							</li>
						</ul>
						<!-- Profile dropdown END -->
					</li>
					<!-- Profile dropdown END -->
				</ul>
			<% else %>
				<!-- UNAUTHENTICATED -->
				<ul class="nav flex-row align-items-center list-unstyled ms-xl-auto">
					<li class="nav-item dropdown ms-3 ms-md-3">		
						<!-- Notification button -->
						<a class="nav-notification btn btn-primary-soft btn-sm p-0 mb-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
							<i class="bi bi-person-add" style="font-size: 1.5rem;"></i>
						</a>

						<!-- Notification dropdown menu START -->
						<div class="dropdown-menu dropdown-animation dropdown-menu-end dropdown-menu-size-md shadow-lg p-0">
							<div class="card bg-transparent">
								<!-- Card header -->
								<div class="card-header bg-transparent text-center border-bottom">
									<h6 class="m-0">Login / Signup</h6>
								</div>

								<!-- Card body START -->
								<div class="card-body p-3">
									<ul class="list-group list-group-flush list-unstyled p-2">
										<!-- Notification item -->
										<li class="mb-4">											
											<h6 class="mb-2"><i class="bi bi-building-fill-add"></i><span class="ms-1">For Partners</span></h6>
											Регистрируйтесь в качестве Партнёра для размещения объявлений
											<div class="row mt-3">
												<div class="col-sm-6">
													<%= link_to "Login Partner", new_partner_session_path, class: 'btn btn-primary-soft btn-sm' %>
												</div>
												<div class="col-sm-6">
													<%= link_to "Signup Partner", new_partner_registration_path, class: 'btn btn-primary-soft btn-sm' %>
												</div>
											</div>									
										</li>
										<!-- Notification item -->
										<li>
											<h6 class="mb-2"><i class="bi bi-bookmark-plus"></i><span class="ms-1">For Customers</span></h6>
											Или в качестве пользователя для бронирования
											<div class="row mt-3">
												<div class="col-sm-6">
													<%= link_to "Login Customer", new_customer_session_path, class: 'btn btn-orange-soft btn-sm' %>
												</div>
												<div class="col-sm-6">
													<%= link_to "Signup Customer", new_customer_registration_path, class: 'btn btn-orange-soft btn-sm' %>
												</div>
											</div>	
										</li>
									</ul>
								</div>
								<!-- Card body END -->		
							</div>
						</div>
						<!-- Notification dropdown menu END -->
					</li>
				</ul>
				<!-- Notification END -->
			<% end %>	

			<!-- Dark mode switch START -->
			<div class="modeswitch-wrap" id="darkModeSwitch">
				<div class="modeswitch-item">
					<div class="modeswitch-icon"></div>
				</div>				
			</div>			
		</div>
	</nav>
</header>

