<div class="modal fade" id="bookingModal" tabindex="-1" aria-labelledby="bookingModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="bookingModalLabel">Написать сообщение</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with(model: @order) do |f| %>

          <div id="forms_errors">
            <%= render 'shared/errors', object: f.object %>
          </div>

          <%= f.hidden_field :room_id, id: "room-id-field" %>

          <div class="row align-items-end g-0" data-controller="lite-pickers">
            <!-- Check in -->
            <div class="col-6">
              <div class="form-border-bottom form-control-transparent d-flex align-items-center">
                <i class="bi bi-calendar text-secondary d-block"></i>
                <div class="form-fs-sm">
                  <%= f.text_field :check_in, class: "start-date form-control ", value: session['check_in'], placeholder: "Заезд" %>
                </div>
              </div>
            </div>

            <!-- Check Out -->
            <div class="col-6">
              <div class="form-border-bottom form-control-transparent d-flex align-items-center">
                <i class="bi bi-calendar text-secondary d-block"></i>
                <div class="form-fs-sm">        
                  <%= f.text_field :check_out, class: "end-date form-control ", value: session['check_out'], placeholder: "Выезд" %>
                </div>	
              </div>
            </div>
          </div>

          <% if @property.rooms.any? %>
            <div class="form-group mt-3">
              <%= f.label "Тип номера" %>  <!-- @property.rooms, :id, :title, { selected: room.id  } -->
              <%= f.collection_select :room_id, @property.rooms, :id, :title, { prompt: "Выбрать", include_blank: false },
                                      class: "form-select" %>             
            </div>
          <% end %> 

          <div class="">
            <div class="form-group mt-3">
              <label>
                Ваше имя
              </label>            
              <%= f.text_field :guest_name, class:"form-control" %>
            </div>

            <div class="row mt-2">
              <div class="col-6">
                <div class="form-group">
                  <%= f.label "Email" %>            
                  <%= f.email_field :guest_email, class:"form-control" %>             
                </div>
              </div>

              <div class="col-6" data-controller="previews">
                <div class="form-group">
                  <%= f.label "Номер телефона" %>                
                  <%= f.telephone_field :guest_phone, id: "phone-mask", class:"form-control" %>
                </div>
              </div>
            </div>
          </div>
                        
          <div class="my-3">
            <%= f.label "Текст:", class: 'form-label' %>          
            <%= f.text_area :message, class:"form-control", rows:3 %>
          </div>

          <div class="d-flex justify-content-center">
            <%= button_tag type: 'submit', class:"w-50 btn btn-primary" do %>
              <i class="bi bi-envelope me-2"></i>Отправить
            <% end %>
          </div>            
        <% end %>
      </div>      
    </div>
  </div>
</div>









