<div class="card border">  
  <div class="card-header border-bottom">
    <h6 class="mb-0">Контакты</h6>
  </div>

  <div class="card-body py-2 px-3">
    
    <div class="text-center pt-2">
      <span class="fw-semibold"><%= @property.contact.name %></span>
      
      <% if @property.owner.avatar.present? %>
        <div class="avatar">           
          <%= image_tag(@property.owner.avatar.thumb.url, class: 'avatar-img rounded-circle shadow ms-4') %>    
        </div>
      <% end %>
    </div>

    <div class="my-4 vstack gap-3 ps-3">
      <% if @property.property_detail.site.present? %>
        <a href="http://<%= @property.property_detail.site %>" target="_blank">
        <span class="badge bg-secondary bg-opacity-10 text-black-50"><i class="bi bi-globe"></i></span>
          
          &nbsp;<%= @property.property_detail.site %>
        </a>  
      <% end %>
    
      <% if @property.property_detail.vk_group.present? %>
        <a href="https://vk.com/<%= @property.property_detail.vk_group %>" target="_blank">
          <span class="badge bg-secondary bg-opacity-10 text-black-50">VK</span>
          &nbsp;<%= @property.property_detail.vk_group %>
        </a>  
      <% end %>  
    </div>

    <div class="hstack gap-2 ">
      <a class="btn btn-primary-soft btn-sm w-100" data-bs-toggle="collapse" href="#collapseContacts" role="button" aria-expanded="false" aria-controls="collapseContacts">
        <i class="bi bi-caret-down me-1"></i>Контакты
      </a>

      <!--
      <a href="#" class="btn btn-orange-soft btn-sm w-100"
                  data-bs-toggle="modal"
                  data-bs-target="#bookingModal"
                  data-bs-room="">
        <i class="bi bi-envelope me-1"></i>Написать
      </a>
      -->

      <%= link_to "New book", new_property_booking_path(@property),
                              data: { turbo_frame: "modal" },
                              class: 'btn btn-primary-soft btn-sm mb-0 w-100' %>
    </div>

    <div class="collapse" id="collapseContacts">
      <div class="my-4 vstack gap-3 ">
        <% if @property.property_detail.email %>
          <div>
            <span class="badge bg-secondary bg-opacity-10 text-black-50"><i class="bi bi-envelope"></i></span>
            <%= @property.property_detail.email %>
          </div>
        <% end %>

        <a href=<%= "tel:#{@property.contact.phone_number}" %>>
          <span class="badge bg-secondary bg-opacity-10 text-black-50"><i class="bi bi-telephone"></i></span>            
          <%= @property.contact.phone_number %>
        </a>    
      </div>

      <div class="text-center">
        <% @property.contact.messengers.each do |messenger| %>
          <%= link_to_messenger(messenger, @property.contact.phone_number) %>          
        <% end %>
      </div>
    </div>
  </div>
</div>



