<div class="tab-pane show active" id="tab-description">
  <div class="card bg-transparent">
    <div class="card-header border-bottom bg-transparent px-0 pt-0">
      <div class="d-sm-flex justify-content-sm-between align-items-center">
        <h3 class="fs-4 mb-2 mb-sm-0">Описание</h3>								
      </div>
    </div>

    <div class="card-body pt-4 p-0">
      <div class="mb-3">
        <% @property.services.each do |service| %>									
          <span class="badge bg-success bg-opacity-10 text-success fs-6 mb-3 me-2 ">
            <i class="bi bi-check-circle-fill text-success me-1"></i>
            <%= Property::SERVICES[service.to_sym] %>
          </span>
        <% end %>
        <% @property.property_detail.amenities.each do |service| %>									
          <span class="badge bg-success bg-opacity-10 text-success fs-6 mb-3 me-2">
            <i class="bi bi-check-circle-fill text-success me-1"></i>
            <%= PropertyDetail::AMENITIES[service.to_sym] %>
          </span>
        <% end %>
      </div>

      <div class="card card-body border mb-4">
        <% if @property.property_detail.short_description.size > 626 %>        
          <div class="content_block hide">
            <%= @property.property_detail.short_description %>          
          </div>
          <a class="content_toggle text-secondary mb-3" href="#"><i class="bi bi-caret-down me-1"></i>Ещё</a>
        <% else %>
          <p class="mb-3"><%= @property.property_detail.short_description %></p>
        <% end %>

        <hr>

        <h5 class="mb-2 mt-3">Инфраструктура</h5>
        <div class="px-3">
          <div class="row bg-light py-2">
            <div class="col-md-3 fw-semibold">Питание:</div>
            <div class="col-md-9"><%= @property.property_detail.food %></div>
          </div>        

          <div class="row py-2">
            <div class="col-md-3 fw-semibold">Парковка:</div>
            <div class="col-md-9"><%= @property.property_detail.parking %></div>
          </div>

          <div class="row bg-light py-2">
            <div class="col-md-3 fw-semibold">Территория:</div>
            <div class="col-md-9"><%= @property.property_detail.territory %></div>
          </div>

          <div class="row  py-2">
            <div class="col-md-3 fw-semibold">Трансфер:</div>
            <div class="col-md-9"><%= @property.property_detail.transfer %></div>
          </div>

          <div class="row bg-light rounded-bottom py-2">
            <div class="col-md-3 fw-semibold">Дополнительно:</div>
            <div class="col-md-9"><%= @property.property_detail.additional_info %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


