<div class="nested-fields mb-3">
  <div class="row g-3">  
    <div class="col-auto">
      <div class="d-flex align-items-center">
        <%= f.label :start_date, class: 'form-label me-2' %>
        <%= f.date_field :start_date, class: 'start-date form-control', style: "width: 170px;" %>    
      </div>     
    </div>

    <div class="col-auto">  
      <div class="d-flex align-items-center">
        <%= f.label :end_date, class: 'form-label me-2' %>
        <%= f.date_field :end_date, class: 'end-date form-control', style: "width: 170px;" %>  
      </div>
    </div>


    <div class="col-auto">
      <div class="d-flex align-items-center">
        <%= f.label :day_cost, class: 'form-label me-2' %>        
        <%= f.number_field :day_cost, class: 'form-control', style: "width: 200px;", placeholder: "стоимость в рублях" %>      
      </div>  
    </div>

    <div class="col-auto">
      <%= link_to "#", data: { action:"click->nested-prices#remove_association" },
                       class: "btn btn-outline-danger rounded-circle p-2 lh-1" do %>
        <i class="bi bi-x-lg"></i>
      <% end %>
    </div>

    <%= f.hidden_field :_destroy %>    
  </div>
</div>

