<%= form_with model:[property.present? ? property : nil, room], class: 'vstack gap-4' do |f| %>
  <div id="forms_errors">
    <%= render 'shared/errors', object: f.object %> 
  </div>  

  <div class="card shadow">  
    <div class="card-header border-bottom">
      <h5 class="mb-0">Основная информация о номере</h5>
    </div>

    <div class="card-body">
      <div class="row g-3">
        <div class="col-md-8">        
          <%= f.label :title, class: 'form-label' %>*      
          <%= f.text_field :title, class: 'form-control' %>
        </div>

        <div class="col-md-4">
          <%= f.label :serial_number, class: 'form-label' %> <span class="small text-secondary">(Порядок в выдаче)</span>     
          <%= f.number_field :serial_number, class: 'form-control', min: 1 %>
        </div>

        <div class="col-md-3">
          <%= f.label :guest_base_count, class: 'form-label' %>*   
          <%= f.number_field :guest_base_count, class: 'form-control', min: 1 %>
        </div>

        <div class="col-md-3">
          <%= f.label :guest_max_count, class: 'form-label' %>*     
          <%= f.number_field :guest_max_count, class: 'form-control', min: 1 %>
        </div>

        <div class="col-md-3">
          <%= f.label :rooms_count, class: 'form-label' %>       
          <%= f.number_field :rooms_count, class: 'form-control', min: 1 %>
        </div>

        <div class="col-md-3">            
          <%= f.label :size, class: 'form-label' %>        
          <div class="input-group"> 
            <%= f.number_field :size, class: 'form-control', min: 1 %>
            <span class="input-group-text">М<sup><small>2</small></sup></span>
          </div> 
        </div>      
      </div>
    </div>
  </div>

  <div class="card shadow">  
    <div class="card-header border-bottom">
      <h5 class="mb-0">Описание</h5>
    </div>

    <div class="card-body">
      <div class="row g-3">
        <div class="col-12">
          <%= f.label :description, class: 'form-label' %>
          <%= f.text_area :description, rows: 6, class: 'form-control' %>
        </div>  

        <div class="col-md-6">        
          <%= f.label :bathroom, class: 'form-label' %>      
          <%= f.text_field :bathroom, class: 'form-control' %>
        </div>

        <div class="col-md-6">        
          <%= f.label :furniture, class: 'form-label' %>        
          <%= f.text_field :furniture, class: 'form-control' %>
        </div> 

        <div class="col-md-6">        
          <%= f.label :beds, class: 'form-label' %> <span class="small text-secondary">        
          <%= f.text_field :beds, class: 'form-control' %>
        </div> 

        <div class="col-md-6">        
          <%= f.label :in_room, class: 'form-label' %> <span class="small text-secondary">        
          <%= f.text_field :in_room, class: 'form-control' %>
        </div> 
      </div>
    </div>
  </div>

  <div class="card shadow">  
    <div class="card-header border-bottom">
      <h5 class="mb-0">Удобства в номере</h5>
    </div>

    <div class="card-body">
      <div class="row g-3">
        <div class="col-12">
          <% Room::SERVICES.each do |key, value| %>
            <div class="d-inline mx-2">
              <%= f.check_box :services, { multiple: true, checked: f.object.services&.include?(key.to_s), class: 'form-check-input' }, key, nil %>
              <%= f.label value, for: "room_services_#{key}",  class: 'form-check-label mb-4' %>
            </div>  
          <% end %>              
        </div>
      </div>
    </div>
  </div>

  <%= render 'carrierwave_imagable/imagable_fields', f: f %> 

  <div class="card shadow">  
    <div class="card-header border-bottom">
      <h5 class="mb-0">Стоимость проживания*</h5>
    </div>

    <div class="card-body">
      <div class="row g-3">
        <div class="col-12">
          <div data-controller="nested-prices">
            <template data-target='nested-prices.template'>
              <%= f.fields_for :prices, Price.new, child_index: 'NEW_RECORD' do |price_form| %>
                <%= render 'prices/form', f: price_form %>
              <% end %>
            </template>

            <%= f.fields_for :prices do |price_form| %>
              <%= render 'prices/form', f: price_form %>
            <% end %>

            <div data-target="nested-prices.add_price" class="mt-4">
              <%= link_to "+ Добавить ценовой период", "#", data: { action:"click->nested-prices#add_association" }, class: 'btn-sm btn btn-secondary' %>
            </div>
          </div>              
        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <%= f.submit f.object.new_record? ? "Добавить Номер" : "Сохранить изменения",class:"btn btn-primary my-4" %>
  </div>
<% end %>
