<%= content_tag(:div, id: dom_id(room), class: 'room card shadow p-3') do %>
  <div class="row g-4">
    <!-- Card img -->
    <div class="col-md-6 position-relative">

      <!-- Overlay item -->
      <div class="position-absolute top-0 start-0 z-index-1 mt-3 ms-4">
        <div class="badge text-bg-danger">30% Off</div>
      </div>

      <!-- fotorama begin -->
      <div class="fotorama-rooms"
          data-width="100%"
          data-ratio="3/2"
          data-allowfullscreen="true"                
          data-nav="false"
          data-loop="true"
          data-keyboard="true"
          data-auto="false">      
        <%= link_to image_tag(room.avatar.variant(resize_to_limit: [150, 150])), room.avatar %>      
        <% room.images.each do |image| %> 
          <%= link_to image_tag(image.variant(resize_to_limit: [150, 150])), image %>            
        <% end %>
      </div>
      <!-- fotorama end --> 

      </div>

    <!-- Card body -->
    <div class="col-md-6">
      <div class="card-body d-flex flex-column h-100 p-0">

        <!-- Title -->
        <h5 class="card-title"><a href="#">Luxury Room with Balcony</a></h5>

        <!-- Amenities -->
        <ul class="nav nav-divider mb-2">
          <li class="nav-item">Air Conditioning</li>
          <li class="nav-item">Wifi</li>
          <li class="nav-item">Kitchen</li>
          <li class="nav-item">
            <a href="#" class="mb-0 text-primary">More+</a>
          </li>
        </ul>

        <p class="text-success mb-0">Free Cancellation till 7 Jan 2022</p>

        <!-- Button -->
        <div class="d-sm-flex justify-content-sm-between align-items-center mt-auto">
          <a href="#" class="btn btn-link text-decoration-underline p-0 mb-0 mt-1" data-bs-toggle="modal" data-bs-target="#roomDetail"><i class="bi bi-eye-fill me-1"></i>View more details</a>
        </div>
        
        <!-- Price and Button -->
        <div class="d-sm-flex justify-content-sm-between align-items-center mt-auto">

          <!-- Room price -->
          <%= render partial: 'rooms/display_price', locals: { room: room } %>

          <!-- Button -->
          <div class="mt-3 mt-sm-0">
            <%= link_to 'Book', new_order_path(room_id: room.id), class: "btn btn-success-soft mb-0" %>             
          </div>                  
        </div>
      </div>
    </div>
  </div>

  <% if room.prices.any? %>
    <h5 class="text-center mt-2 px-2">Стоимость проживания номер/сутки(руб.)</h5>  
    <div style="overflow-x:auto;">
      <div class="room-prices">
        <% room.prices.each do |price| %>
          <div class="period">
            <div class="period__date"><%= price.start_date.strftime('%d.%m') %>-<%= price.end_date.strftime('%d.%m') %></div>
            <div class="period__price"><%= price.day_cost %><small> р.</small></div>
          </div>
        <% end %>    
      </div>
    </div>
  <% end %>
<% end %>
