<% provide :turbo_cache_control do %>
  <meta name="turbo-cache-control" content="no-cache">
<% end %>

<section class="pb-0">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="fs-3 mb-2">Добавить номер</h1>
				<p class="fs-5 mb-0"><%= "#{property.title}: добавление нового номера" %></p>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 mx-auto">


				<% if @sample_rooms.any? %>

					<div class="input-group">
						<input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username with two button addons">
						<a class="btn btn-outline-secondary" type="button">Button</a>
						<button class="btn btn-outline-secondary" type="button">Button</button>
					</div>
				
					<%= link_to 'Вставить информацию с предыдущего номера', new_property_room_path(property), data: { turbo_stream: true } %>

					<%= form_with(url: new_property_room_path(property), method: "get", data: { turbo_stream: true }) do |f| %>
					
						<%= f.collection_select :sample_room, @sample_rooms, :id, :title, { prompt: "Выбрать..." }, class:"form-select" %>

						<%= f.submit "Вставить данные из выбранного номера", class:"btn btn-primary my-4" %>
					<% end %>
				
				<% end %>



        <%= render partial: 'form', locals: { property: property, room: room } %>
			</div>
		</div>
	</div>
</section>
