<% provide(:title, 'New Room') %>

<h1><%= "#{@property.title}: New room" %></h1>


<%= form_with model:[@property, @room], class: 'w-75', data: {turbo: false} do |f| %>

  <%= render 'shared/errors', object: f.object %>

  <div class="form-group mb-2">
    <%= f.label :title, class: 'form-label' %>        
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group mb-2">
    <%= f.label :guest_base_count %>       
    <%= f.number_field :guest_base_count, class: 'form-control' %>
  </div>

  <div class="form-group mb-2">
    <%= f.label :guest_max_count %>       
    <%= f.number_field :guest_max_count, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :avatar %>
    <%= f.file_field :avatar, accept: 'image/jpeg,image/png', class: 'form-control' %>
  </div>

  <div class="form-group mb-2">
    <%= f.label :images, class: 'form-label' %>        
    <%= f.file_field :images, multiple: true, class: 'form-control' %>
  </div>

  <%= f.submit "Save",class:"btn btn-primary my-4" %>
<% end %>
