<% provide(:title, "#{@town.name} - жильё и активный отдых") %>

<section class="parallax-window" data-controller="parallax" data-parallax="scroll" data-image-src="<%= @town.avatar.url %>">
  <div class="parallax-content-2">
    <div class="container">
      <div class="row">
        <div class="col-md-4">          
          <h1><%= @town.name %></h1>  
					<span>Жильё, активный отдых и услуги в <%= @town.parent_name %></span>         
        </div>
        <div class="col-md-8 d-flex">
            <p class="d-none d-md-block mb-lg-0 fs-6 align-self-end"><%= @town.description %></p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- breadcrumbs -->
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to 'Главная', root_path %></li>
      <li class="breadcrumb-item active"><%= @town.name %></li>  
    </ol>
  </nav>
</div>

<div class="container">
  <div class="row mb-lg-4 mb-5">
    <div class="col-xl-12" id="search_form">  
      <!-- Booking form -->
      <%= render 'search/form' %>
    </div>
  </div>
</div>

<section class="py-3">
	<div class="container">		
    <%= link_to properties_town_path(@town), class: 'btn btn-primary' do %>
      <i class="bi bi-check2-circle me-2"></i>
      <%= "Жильё в #{@town.parent_name}" %>
    <% end %>

    <div class="my-3">
      <%= link_to 'Все категории', properties_town_path(@town), class: 'btn btn-light btn-sm' %>
      <% @categories.each do |cat| %>
        <%= link_to cat.title, properties_town_path(@town, { cat: cat.id }), class: 'btn btn-light btn-sm' %>
      <% end %>
    </div>
	</div>
</section>

<section class="py-3">
	<div class="container">		
    <%= link_to activities_town_path(@town), class: 'btn btn-orange' do %>
      <i class="bi bi-star me-2"></i>
      <%= "Активный отдых в #{@town.parent_name}" %>
    <% end %>

    <div class="my-3">
      <%= link_to 'Все категории', activities_town_path(@town), class: 'btn btn-light btn-sm' %>
      <% Activity::ACTIVITY_CATEGORIES.each do |cat| %>
        <%= link_to cat, activities_town_path(@town, { category_title: cat }), class: 'btn btn-light btn-sm' %>
      <% end %>
    </div>
	</div>
</section>

<section class="py-3">
	<div class="container">		
    <%= link_to services_town_path(@town), class: 'btn btn-info' do %>
      <i class="bi bi-box me-2"></i>
      <%= "Услуги и сервисы в #{@town.parent_name}" %>
    <% end %>

    <div class="my-3">
      <%= link_to 'Все услуги и сервисы', services_town_path(@town), class: 'btn btn-light btn-sm' %>
      <% Service::SERVICE_CATEGORIES.each do |cat| %>
        <%= link_to cat, services_town_path(@town, { category_title: cat }), class: 'btn btn-light btn-sm' %>
      <% end %>
    </div>
	</div>
</section>

<section class="py-3">
	<div class="container">		
    <%= link_to food_places_town_path(@town), class: 'btn btn-lime' do %>
      <i class="bi bi-cup-hot me-2"></i>
      <%= "Где поесть в #{@town.parent_name}" %>
    <% end %>
    <!-- links to tags 
    <div class="my-3">
      <%= link_to 'Все локации', places_town_path(@town), class: 'btn btn-light btn-sm' %>
      <% Place::PLACE_CATEGORIES.each do |cat| %>
        <%= link_to cat, places_town_path(@town, { category_title: cat }), class: 'btn btn-light btn-sm' %>
      <% end %>
    </div> -->
	</div>
</section>

<section class="py-3">
	<div class="container">		
    <%= link_to places_town_path(@town), class: 'btn btn-warning' do %>
      <i class="bi bi-pin-map me-2"></i>
      <%= "Локации в #{@town.parent_name}" %>
    <% end %>
    
    <div class="my-3">
      <%= link_to 'Все локации', places_town_path(@town), class: 'btn btn-light btn-sm' %>
      <% Place::PLACE_CATEGORIES.each do |cat| %>
        <%= link_to cat, places_town_path(@town, { category_title: cat }), class: 'btn btn-light btn-sm' %>
      <% end %>
    </div>
	</div>
</section>

