<% provide :turbo_cache_control do %>
  <meta name="turbo-cache-control" content="no-cache">
<% end %>

<section class="parallax-window" data-parallax="scroll" data-image-src="<%= @town.avatar.url %>">
  <div class="parallax-content-2">
    <div class="container">
      <div class="row">
        <div class="col-md-8">          
          <h1><%= @town.name %></h1>  
					<span>Страница города</span>         
        </div>
        <div class="col-md-4">
          <div id="price_single_main" class="hotel">
            <span><sup></sup></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-3">
	<div class="container">
		<div class="bg-light rounded border p-3 p-sm-4">	
			<div class="align-items-center position-relative">
				
				<p class="mb-3 mb-lg-0 fs-6"><%= @town.description %></p>
				
			</div> <!-- Row END -->
		</div>
	</div>
</section>

<section class="py-3">
  <div class="container">
    <% if @properties_category %>
      <h2 class="h3"><%= @properties_category %> in <%= @town.parent_name %></h2>          
    <% else %>      
      <h2 class="h3">Properties in <%= @town.parent_name %></h2>   
    <% end %>

    <div class="categories my-3">
      <%= link_to 'All categories', town_path(@town), class: 'btn btn-light btn-sm' %>
      <% @categories.each do |cat| %>
        <%= link_to cat.title, { cat: cat.id }, class: 'btn btn-light btn-sm' %>
      <% end %>
    </div>

    <div class="row gx-3">
      <%= render @properties %>
    </div>
  </div>
</section>










