<div class="col-md-6">
  <div class="card card-hover-shadow p-2">
    <div class="row g-0">
      <!-- Card img -->
      <div class="col-md-5 position-relative">  
        <div class="overflow-hidden rounded-2">
          <div class="" data-controller="fotorama" data-object="widget"
              data-width="100%"
              data-ratio="3/2"
              data-allowfullscreen="false"                
              data-nav="false"
              data-loop="true"
              data-keyboard="true"
              data-auto="false">      
            <%= link_to image_tag(activity.avatar.thumb_100.url), activity.avatar.thumb.url %>      
            <% activity.images.take(4).each do |image| %> 
              <%= link_to image_tag(image.thumb_100.url), image.thumb.url %>     
            <% end %>
          </div>
        </div>
      </div>

      <!-- Card body -->
      <div class="col-md-7">
        <div class="card-body py-md-2 d-flex flex-column h-100 position-relative pe-md-2">
          <!-- Title -->
          <div class="d-flex justify-content-between mb-1">        
            <h5 class="h6 card-title mb-1"><%= link_to activity.title, activity_path(activity, town_id: @town.present? ? @town.id : nil) %></h5>

            <span id="add_favorite_<%= dom_id activity %>">
              <%= render partial: 'shared/add_favorite', locals: { listing: activity } %>
            </span>
          </div>

          <% if activity.address.present? %>
            <small><i class="bi bi-geo-alt me-2"></i><%= activity.address %></small>
          <% end %>

          <!-- List -->
          <ul class="list-group list-group-borderless small mb-0 mt-1">
            <li class="list-group-item d-flex  p-0">
                        <%= link_to (@town.present? ? activities_town_path(@town.id, category_title: activity.category_title) : activities_path(category_title: activity.category_title)), class: 'text-decoration-underline' do %>
            <i class="bi bi-star me-2"></i><%= activity.category_title %>
          <% end %>
            </li>    
          </ul>  

          <!-- Price and Button -->          
          <% if activity.price.present? %>
            <div class="d-flex justify-content-between align-items-center mt-2 mt-md-auto">
              <div class="d-flex align-items-center">
                <h5 class="fw-bold mb-0 me-1"><%= activity.price %><small>₽</small></h5>
                <span class="mb-0 me-2">/<%= activity.price_type %></span>
              </div>
              
              <div class="">
                <%= link_to "Подробнее", activity_path(activity, town_id: @town.present? ? @town.id : nil), class: "btn btn-sm btn-orange-soft mb-0" %>
              </div>
            </div>
          <% else %>
            <div class="mt-md-auto text-end">
              <%= link_to "Подробнее", activity_path(activity, town_id: @town.present? ? @town.id : nil), class: "btn btn-sm btn-orange-soft mb-0" %>
            </div>
          <% end %> 
        </div>
      </div>
    </div>
  </div>
</div>
