<div class="card border shadow" id="<%= dom_id place %>">

  <div class="card-header border-bottom">
    <div class="d-flex justify-content-between align-items-center">
      <h4 class="card-header-title"><%= link_to place.title, place %></h4>
        <ul class="list-inline mb-0">
          <li class="list-inline-item dropdown">
            <a href="#" class="btn btn-sm btn-round btn-light mb-0" role="button" id="dropdownShare2" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-three-dots-vertical"></i>
            </a>              
            <ul class="dropdown-menu dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownShare2">
              <li>
                <%= link_to edit_place_path(place), class: 'dropdown-item' do %>
                  <i class="bi bi-pencil-square me-2"></i>Изменить
                <% end %>
              </li>
              <li>
                <%= link_to place_path(place), class: 'dropdown-item text-danger bg-danger-soft-hover', data: { "turbo-method": :delete, turbo_confirm: "Точно удалить - Вы уверены?" } do %>
                  <i class="bi bi-trash fa-fw me-2"></i>Удалить
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
    </div>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-12 px-0 px-md-2"><%= render 'shared/not_activated' unless place.activated? %></div>

      <!-- Avatar -->
      <div class="col-md-4 px-0 px-md-2">
        <%= link_to image_tag(place.avatar.thumb.url, class: "card-img rounded-2"), place %>  
      </div>

      <div class="col-md-8 mt-3">
        <div class="small mb-2"><i class="bi bi-star me-2"></i><%= place.category_title %></div>

        <% if place.address.present? %>
          <div class="small my-2"><i class="bi bi-geo-alt me-2"></i><%= place.address %></div>
        <% end %>

                  
        <!-- show modal map -->
        <%= link_to '#', data: { controller: 'maps', 'action': 'click->maps#showMapModal',
                                latitude: place.geolocation.latitude,
                                longitude: place.geolocation.longitude },
                        class: 'text-decoration-underline' do %>
          <i class="bi bi-eye-fill me-1"></i> Показать на карте
        <% end %>

        <div class="hstack gap-2">
          <a data-bs-toggle="collapse" href="#detail-collapse-<%= dom_id(place) %>" role="button" aria-expanded="false" aria-controls="detail-collapse-<%= dom_id(place) %>" class="btn btn-primary-soft btn-sm mb-0">
            <i class="bi bi-caret-down me-1"></i>Подробнее
          </a>
        </div> 
      </div>
    </div>

    <div class="collapse" id="detail-collapse-<%= dom_id(place) %>">
      <div class="my-3 py-2 ps-3 pe-3 border-top border-primary rounded-top d-flex justify-content-between align-items-center">
        <h5>Подробнее</h5>
      </div>

      <div class="px-3">
        <div class="py-3 mb-4">
          <h5 class="mb-2 mt-3">Описание</h5>
          <p class="mb-3"><%= place.description %></p>
        </div>
      </div>      
    </div>  
  </div>
</div>

<br>
