<div class="col-sm-6 col-xl-4">
  <div class="card card-hover-shadow overflow-hidden bg-transparent">
    <div class="position-absolute top-0 start-0 z-index-1 m-2">
      <%= link_to places_town_path(place.town_id), class: 'text-decoration-underline' do %>
        <div class="badge bg-warning bg-opacity-75 text-light" style="font-size:12px;"><%= place.category_title %></div>
      <% end %>
    </div>
    <!-- Image and overlay -->
    <div class="position-relative">
      <!-- Image -->
      <div class="" data-controller="fotorama" data-object="widget"
          data-width="100%"
          data-ratio="3/2"
          data-allowfullscreen="false"                
          data-nav="false"
          data-loop="true"
          data-keyboard="true"
          data-auto="false">      
        <%= link_to image_tag(place.avatar.thumb_100.url, class: "card-img-top"), place.avatar.thumb.url %>      
        <% place.images.take(4).each do |image| %> 
          <%= link_to image_tag(image.thumb_100.url, class: "card-img-top"), image.thumb.url %>     
        <% end %>
      </div>
      <!-- Overlay -->


    </div>

    <!-- Card body -->
    <div class="card-body px-2 pt-2">
      <!-- Title -->
      <h5 class="card-title"><%= link_to place.title, place, class: '' %></h5>
      <!-- Price and rating -->
      <div class="d-flex justify-content-between align-items-center">
        <%= link_to town_path(place.town_id), class: 'text-decoration-underline' do %>
          <span class="small"><i class="bi bi-arrow-return-right"></i>&nbsp;<%= towns_hash[place.town_id] %> </span>
        <% end %>
        
        <div class="mt-2 mt-sm-0">
          <%= link_to place, class: "btn btn-sm btn-warning-soft mb-0" do %>
            Подробнее
          <% end %>  
        </div>
      </div>
    </div>
  </div>
</div>
